<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Modal</title>
	<link rel="stylesheet" href="../build/base.css">
	<link rel="stylesheet" href="../build/grid.css">
	<link rel="stylesheet" href="../build/components/modal.css">
	<link rel="stylesheet" href="../build/components/dialog.css">
	<link rel="stylesheet" href="../build/components/form.css">
	<link rel="stylesheet" href="../build/helpers.css">
	<link rel="stylesheet" href="../build/theme.css">
	<!--[if lte ie 8]>
	<script src="../bower_components/respond/dest/respond.min.js"></script>
	<![endif]-->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
<!--	<script src="https://code.angularjs.org/1.3.2/angular.js"></script>-->
	<script src="../dist/end2end.js"></script>
	<style>
		body {
			padding-bottom: 2em;
		}
		.box {
			background-color: red;
			width: 200px;
			height: 600px;
		}
	</style>
	<script>
		app = angular.module("app", ["ngAnimate", "end2end"]);
		app.run(function($rootScope, dialog, modal){
			$rootScope.modal = modal;
			$rootScope.dialog = dialog;
			$rootScope.biDirectionTest = function(){
				var scope = {
					number: 999
				};
				dialog.create({
					templateUrl: "bi-test",
					scope: scope
				}).then(function(){
					dialog.show(scope.number);
				});
			};
		});
	</script>
</head>
<body>
	<div class="container">
		<h2>Modal</h2>
		<button class="btn-default" ng-click="modal.open({templateUrl:'modal'})">Modal service</button>
		<button class="btn-default" ng-click="dialog.show('Hi there!')">Dialog service</button>
		<button class="btn-default" ng-click="biDirectionTest()">Fake bi-directional binding</button>
		<button class="btn-default" ng-click="dialog.confirm({templateUrl:'valid-test'})">Form validation</button>
		<script type="text/ng-template" id="modal">
			<p>Press <kbd>Esc</kbd> to dismiss modal.</p>
		</script>
		<script type="text/ng-template" id="bi-test">
			<div class="marger">
				<pre><code>{{number}}</code></pre>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="number">
			</div>
		</script>
		<script type="text/ng-template" id="valid-test">
			<div class="form-group">
				<label for="require">This field is required</label>
				<input type="text" class="form-control" ng-model="number" id="require" required autofocus>
			</div>
		</script>
	</div>
</body>
</html>
