<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Tabl Fixed</title>
	<link rel="stylesheet" href="../build/base.css">
	<link rel="stylesheet" href="../build/grid.css">
	<link rel="stylesheet" href="../build/components/table.css">
	<link rel="stylesheet" href="../build/components/form.css">
	<link rel="stylesheet" href="../build/helpers.css">
	<link rel="stylesheet" href="../build/theme.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../dist/end2end.js"></script>
	<!--[if lte ie 8]>
	<script src="../bower_components/respond/dest/respond.min.js"></script>
	<![endif]-->
	<script>
		app = angular.module("app", ["end2end"]);
	</script>
	<style>
		.box {
			width: 200px;
			height: 200px;
			background-color: red;
			position: absolute;
			left: 0;
		}
		.box:before {
/*			content: "";*/
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="marger">
			<div class="table-fixed" fixed-left="2" table-model="input" ng-show="show">
				<div class="table-responsive">
					<table class="table-default">
						<thead>
							<tr>
								<th>Title 1</th>
								<th>Title 2</th>
								<th>Title 3</th>
								<th>Title 4</th>
								<th>Title 5</th>
								<th>Title 6</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{input}}</td>
								<td>Content 2</td>
								<td>Content 3</td>
								<td>Content 4</td>
								<td>Content 5</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque veniam nobis placeat harum iusto, saepe, iste, quaerat, consequuntur ea minima praesentium vitae maxime mollitia nesciunt dolor blanditiis earum corporis ullam!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="marger">
			<input type="text" class="form-control" ng-model="input">
			<input type="checkbox" ng-model="show">
		</div>
		<div class="marger">
			<div class="input-group">
				<div class="shrink">
					<div>
						<div class="input-group-addon">Search</div>
					</div>
				</div>
				<div>
					<div>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div class="marger">
			<div class="input-group">
				<div class="shrink">
					<div>
						<div class="input-group-addon">Search</div>
					</div>
				</div>
				<div>
					<div>
						<input type="text" class="form-control">
					</div>
				</div>
				<div>
					<div>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
