<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
	<link rel="stylesheet" href="../build/base.css">
	<link rel="stylesheet" href="../build/grid.css">
	<link rel="stylesheet" href="../build/components/form.css">
	<link rel="stylesheet" href="../build/components/modal.css">
	<link rel="stylesheet" href="../build/components/dialog.css">
	<link rel="stylesheet" href="../build/theme.css">
	<link rel="stylesheet" href="../build/helpers.css">
	<script src="../bower_components/respond/dest/respond.min.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../dist/end2end.js"></script>
	<script>
		angular.module(
			"app", ["end2end", "ngAnimate"]
		).animation(".ani-test", function($log, $timeout){
			function cleanup(e) {
				var ele = angular.element(e.target);
				e.target.style.height = "";
				ele.off("transitionend", cleanup);
			}

			return {
				addClass: function(element, cls, done){
//					console.log("add class");
					if (cls != "ng-hide") {
						return;
					}
					var h = element[0].scrollHeight;
					element.css("height", h + "px");
					void(element[0].offsetHeight);
					element.css("height", "0");
					element.on("transitionend", done);
					return function(isCancelled) {
						element.off("transitionend", done);
						element.removeClass("ng-hide-add-active");
					}
				},
				removeClass: function(element, cls, done){
					if (cls != "ng-hide") {
						return;
					}
					var h = element[0].scrollHeight;
					element.css("height", "0");
					void(element[0].offsetHeight);
					element.css("height", h + "px");
					element.on("transitionend", done);
					return function(isCancelled) {
						element.off("transitionend", done);
					}
				},
				enter: function(element, done){
					$log.log("enter", element[0].getBoundingClientRect());
					done();
				},
				move: function(element, done){
					$log.log("move", element[0].getBoundingClientRect());
					done();
				},
				leave: function(element, done){
					$log.log("leave", element[0].getBoundingClientRect());
					done();
				}
			};
		});
	</script>
	<style>
		body {
			padding-bottom: 2em;
		}
		.ani-test {
			border: 1px solid;
			overflow: hidden;
		}
		.ani-test.ng-hide-add {
			transition: 1s all;
		}
		.ani-test.ng-hide-remove {
			transition: 1s all;
		}
	</style>
</head>
<body>
	<div class="container">
		<input type="checkbox" ng-model="show">
		<div class="ani-test" ng-if="show">
			ng-if<br>ng-if<br>ng-if<br>ng-if<br>ng-if<br>ng-if<br>ng-if<br>ng-if<br>ng-if<br>
		</div>
		<input type="checkbox" ng-model="show2">
		<div class="ani-test" ng-show="show2">
			ng-show<br>ng-show<br>ng-show<br>ng-show<br>ng-show<br>ng-show<br>ng-show<br>ng-show<br>ng-show<br>
		</div>
	</div>
</body>
</html>
