
* {
	box-sizing: border-box;
}

.container-sm {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
	width: 768px;
}

.row {
	background-color: #eee;
/*	word-spacing: -9999px;*/
	text-align: justify;
	margin: 0 -15px 1em;
}

.row:after {
  content: "x";
  display: inline-block;
  width: 100%;
  visibility: hidden;
}

.col {
	display: inline-block;
	word-spacing: normal;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	background-color: #ddd;
	width: 20%;
}

