{
	"extends": "eslint:recommended",
	"env": {
		"browser": true
	},
	"rules": {
		"eqeqeq": 0,
		"no-use-before-define": [1, "nofunc"],
		"dot-notation": [2, {"allowKeywords": false}]	// compatible with IE8
	},
	"globals": {
		"angular": false,
		"console": false
	}
}
