<!doctype html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<title>Test Page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>

	<link rel="stylesheet" href="dist/end2end.css">

	<script>
		angular.module("App", ["end2end"]);

		function test($scope) {
			$scope.angular = "NOT ANGULAR";
		}
		
		function main($scope, modal) {
			$scope.toggleModal = function(id){
				modal.get(id).toggle();
			};
		}
	</script>
	
	<!--[if lte ie 8]>
	<script src="bower_components/respond/dest/respond.min.js"></script>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->

	<script src="dist/end2end.js"></script>
</head>

<body ng-controller="main">

	<nav>
		<div class="navbar">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-col right-xs">
						<button class="navbar-toggle">
							&equiv;
						</button>
					</div>
					<a href="" class="navbar-brand">end2end</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav">
						<li class="active"><a href="">link 1</a></li>
						<li><a href="">link 2</a></li>
					</ul>
					<form class="navbar-form">
						<input type="text" />
						<button>Search</button>
					</form>
					<ul class="navbar-nav right-sm">
						<li><a href="">login</a></li>
						<li><a href="">register</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<header>
		<div class="blackboard">
			<div class="container">
				<div class="row">
					<div class="col-md-2-3">
						<h1 class="blackboard-head">End2end</h1>
						<p class="blackboard-body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, nesciunt eveniet expedita impedit?
						</p>
					</div>
					<div class="col-md-1-3">
						<div class="blackboard-side">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, assumenda, officia, dolor at aliquam numquam facere culpa autem ducimus optio distinctio aut illum totam vero veniam voluptate accusamus dignissimos. Ducimus.
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row row-top fill-height">
			<div class="col-md-3-4 push-md-1-4 eznav-target">
				<h2>Title</h2>
				<p>
					Welcome to <a href="https://github.com/eight04/end2end">end2end</a> demo page!
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, ad inventore unde at voluptate. Molestias, dolor, illo, autem, suscipit quaerat distinctio eveniet perspiciatis explicabo nesciunt quam vitae et harum labore.
				</p>

				<h2>Font size</h2>
				<p>一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, fugit consectetur iusto quod culpa a nihil saepe labore ut distinctio sint ad dolorem odio hic quidem quaerat expedita similique corporis.</p>

				<h2>Super long title Lorem</h2>

				<h2>Grid system</h2>
				<div class="paint-grid">
					<h3>Align top</h3>
					<div class="row row-top">
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>

					<h3>Align middle</h3>
					<div class="row row-middle">
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>

					<h3>Align bottom</h3>
					<div class="row row-bottom">
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>

					<h3>Align items separately</h3>
					<div class="row">
						<div class="col-xs-1-5 col-top">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5 col-middle">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5 col-bottom">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5 col-middle">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5 col-middle">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>
					<p>Note: Make sure the highest item has .col-middle to get correct position below IE9.</p>

					<h3>Without gap</h3>
					<div class="row row-nogap">
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>

					<h3>Change order</h3>
					<div class="row">
						<div class="col-xs-1-5 push-xs-4-5">
							<div class="content">
								.col-xs-1-5
							</div>
						</div>
						<div class="col-xs-1-5 push-xs-2-5">
							<div class="content">
								.col-xs-1-5<br/>second-line
							</div>
						</div>
						<div class="col-xs-1-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line
							</div>
						</div>
						<div class="col-xs-1-5 pull-xs-2-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
							</div>
						</div>
						<div class="col-xs-1-5 pull-xs-4-5">
							<div class="content">
								.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
							</div>
						</div>
					</div>

					<h3>Display table</h3>
					<p>
						Wrap table in <code>.clipper</code> so it won't overflow on small screen.
					</p>
					<div class="clipper">
						<div class="table-xs">
							<div class="row">
								<div class="col-xs-1-5">
									<div class="content">
										.col-xs-1-5
									</div>
								</div>
								<div class="col-xs-1-5">
									<div class="content">
										.col-xs-1-5<br/>second-line
									</div>
								</div>
								<div class="col-xs-1-5">
									<div class="content">
										.col-xs-1-5<br/>second-line<br/>third-line
									</div>
								</div>
								<div class="col-xs-1-5">
									<div class="content">
										.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
									</div>
								</div>
								<div class="col-xs-1-5">
									<div class="content">
										.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
									</div>
								</div>
							</div>
						</div>
					</div>

					<h3>Table nogap</h3>
					<div class="table-xs table-xs-nogap">
						<div class="row">
							<div class="col-xs-1-5">
								<div class="content">
									.col-xs-1-5
								</div>
							</div>
							<div class="col-xs-1-5">
								<div class="content">
									.col-xs-1-5<br/>second-line
								</div>
							</div>
							<div class="col-xs-1-5">
								<div class="content">
									.col-xs-1-5<br/>second-line<br/>third-line
								</div>
							</div>
							<div class="col-xs-1-5">
								<div class="content">
									.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line
								</div>
							</div>
							<div class="col-xs-1-5">
								<div class="content">
									.col-xs-1-5<br/>second-line<br/>third-line<br/>4th-line<br/>5th-line
								</div>
							</div>
						</div>
					</div>
				</div>

				<h2>Table</h2>
				<div class="table-responsive">
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Title</th>
								<th>Title</th>
								<th>Title</th>
								<th>Title</th>
								<th>Title</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
							</tr>
							<tr>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
							</tr>
							<tr>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
							</tr>
							<tr>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
								<td>Content</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h2>Form</h2>
				<form>
					<label for="name">Name</label>
					<input type="text" id="name" value="The quick brown fox jumps over the lazy dog" />

					<label for="email">Email</label>
					<input type="text" id="email" value="床前明月光 疑是地上霜" />

					<label for="comment">Leave a comment</label>
					<textarea id="comment" placeholder="Type something. This is a placeholder."></textarea>

					<fieldset>
						<legend>Select your gender</legend>
						<div class="radio">
							<label>
								<input type="radio" name="gender" />
								Male
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="gender" />
								Female
							</label>
						</div>
					</fieldset>

					<fieldset>
						<legend>Options</legend>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Google
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Yahoo
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" />
								Bing
							</label>
						</div>
					</fieldset>

					<select name="" id="">
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
						<option value="">Option 4</option>
						<option value="">Option 5</option>
					</select>

					<select name="" id="" multiple>
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
						<option value="">Option 4</option>
						<option value="">Option 5</option>
					</select>

					<button class="btn-form">Submit</button>
					<button class="btn-form" type="reset">Reset</button>
				</form>

				<h2>Images</h2>
				<p>
					Hi, this is my picture: <img src="http://placehold.it/24x24" alt="" />, Also check my Website! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, illum, sequi, earum tempora quas assumenda neque ut tenetur animi consectetur voluptatum fugiat iste sed at deleniti repudiandae labore? Alias, consequuntur.
				</p>
					<img src="//placehold.it/140x140" alt="" class="right-sm" />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, accusamus, dolores laboriosam neque deleniti non aspernatur impedit ex quaerat quasi inventore ipsa iusto voluptatum nihil similique esse soluta reprehenderit voluptas?
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, nihil, voluptas, rerum consectetur veritatis adipisci ratione explicabo repellendus reprehenderit officia quo hic ad? Sint, quod eaque adipisci perspiciatis ipsum repellendus.</p>
					<img src="//placehold.it/140x140" alt="" class="left-sm" />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, doloremque, ea eaque iste hic harum eius neque animi magnam quisquam omnis provident veniam molestias dolorem rerum minima nihil officia est.
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, illo, iure animi soluta officiis nemo porro sed aut nihil quibusdam? Consequatur, commodi, harum assumenda eius incidunt minus numquam quasi voluptas.</p>
				<div class="clear"></div>

				<h2>Button group</h2>
				<form>
					<div class="btn-group">
						<button>Left</button>
						<button>Middle</button>
						<button>Right</button>
					</div>
				</form>

				<h2>List</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, tenetur, necessitatibus, provident, molestias voluptatibus quia aperiam aut cum suscipit consequatur nam enim minima reprehenderit molestiae voluptates dolorum doloribus maiores similique.</p>
				<ul>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
					<li>Item 5</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, numquam, aliquid, natus non quis earum obcaecati tenetur doloribus sequi dolorum ea tempore doloremque deleniti exercitationem maiores nulla nesciunt voluptatum beatae!</p>
				<ol>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
					<li>Item 5</li>
				</ol>

				<h2>Nav</h2>
				<h3>Nav list</h3>
				<ul class="nav-list">
					<li class="active"><a href="">Link 1</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
					<li><a href="">Link 4</a></li>
					<li><a href="">Link 5</a></li>
				</ul>

				<h3>Nav pool</h3>
				<ul class="nav-pool">
					<li><a href="">Link 1</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
					<li><a href="">Link 4</a></li>
					<li><a href="">Link 5</a></li>
				</ul>

				<h3>Nav tab</h3>
				<div class="nav-responsive">
					<ul class="nav-tab">
						<li class="active"><a href="">Link 1</a></li>
						<li><a href="">Link 2</a></li>
						<li><a href="">Link 3</a></li>
						<li><a href="">Link 4</a></li>
						<li><a href="">Link 5</a></li>
					</ul>
				</div>

				<h3>Nav Toggle</h3>
				<div class="nav-responsive">
					<ul class="nav-tab" nav-toggle>
						<li class="active"><a href="">Link 1</a></li>
						<li><a href="">Link 2</a></li>
						<li><a href="">Link 3</a></li>
						<li><a href="">Link 4</a></li>
						<li><a href="">Link 5</a></li>
					</ul>
				</div>

				<h3>Nav pill</h3>
				<ul class="nav-pill">
					<li class="active"><a href="">Link 1</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
					<li><a href="">Link 4</a></li>
					<li><a href="">Link 5</a></li>
				</ul>

				<h3>Nav tree</h3>
				<ul class="nav-tree">
					<li>
						<a href="">Link 1</a>
						<ul class="nav-tree">
							<li><a href="">Sub 1</a></li>
							<li><a href="">Sub 2</a></li>
							<li><a href="">Sub 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Link 2</a>
						<ul class="nav-tree">
							<li><a href="">Sub 1</a></li>
							<li><a href="">Sub 2</a></li>
							<li><a href="">Sub 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Link 3</a>
						<ul class="nav-tree">
							<li><a href="">Sub 1</a></li>
							<li><a href="">Sub 2</a></li>
							<li><a href="">Sub 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Link 4</a>
						<ul class="nav-tree">
							<li><a href="">Sub 1</a></li>
							<li><a href="">Sub 2</a></li>
							<li><a href="">Sub 3</a></li>
						</ul>
					</li>
					<li>
						<a href="">Link 5</a>
						<ul class="nav-tree">
							<li><a href="">Sub 1</a></li>
							<li><a href="">Sub 2</a></li>
							<li><a href="">Sub 3</a></li>
						</ul>
					</li>
				</ul>

				<h2>Progress</h2>
				<p>
					&lt;progress> is lack of support.
				</p>
				<div class="progress">
					<div class="progress-bar" style="width: 100%;">
						<div class="progress-label">
							100%
						</div>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar" style="width: 80%;">
						<div class="progress-label">
							80%
						</div>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar" style="width: 1%;">
						<div class="progress-label">
							1%
						</div>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar" style="width: 0%;">
						<div class="progress-label">
							0%
						</div>
					</div>
				</div>

				<h2>Dialog</h2>
				<div class="dialog">
					<div class="dialog-header">
						This is a dialog!
					</div>
					<div class="dialog-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, esse, magnam, libero est labore vel architecto officia unde quam modi voluptatibus odit enim veritatis nam quaerat deserunt quos cum repellendus.</p>
					</div>
				</div>

				<h2>Modal dialog</h2>
				<button class="btn-default" ng-click="toggleModal('testModal')">Toggle</button>
				<div class="modal-backdrop"></div>
				<div class="modal" id="testModal">
					<div class="dialog">
						<div class="dialog-header">
							This is a dialog!
						</div>
						<div class="dialog-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, esse, magnam, libero est labore vel architecto officia unde quam modi voluptatibus odit enim veritatis nam quaerat deserunt quos cum repellendus.</p>
							<p>
								<button class="btn-default" ng-click="toggleModal('testModal')">Toggle</button>
							</p>
						</div>
					</div>
				</div>

				<h2>Panes</h2>
				<p>Use panes to create stacked window.</p>
				<div class="panes">
					<div class="pane active">Pane 1</div>
					<div class="pane active">Pane 2</div>
					<div class="pane active">Pane 3</div>
					<div class="pane active">Pane 4</div>
					<div class="pane active">Pane 5</div>
				</div>
				
				<h2>Toggler</h2>
                <p>Use toggler and toggled to link navs and panes.</p>
                <ul class="nav-tab" toggler="myToggle">
                    <li class="active"><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                    <li><a href="">Link 5</a></li>
                </ul>
				<ul class="nav-pill" toggler="myToggle">
					<li><a href="">Nav 1</a></li>
					<li><a href="">Nav 2</a></li>
					<li><a href="">Nav 3</a></li>
					<li><a href="">Nav 4</a></li>
					<li><a href="">Nav 5</a></li>
				</ul>
				<div class="panes" toggled="myToggle">
					<div class="pane">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ea nobis tempore quibusdam quos voluptatem consequuntur, reprehenderit animi illum id! Minus repellat cumque fugit esse adipisci, non nulla, vel vitae!</div>
					<div class="pane">Et esse rem ipsa sint quia, molestias sed minus neque fugiat voluptate distinctio in voluptatum alias fuga consectetur ut illo dolorum ipsum. Esse nulla eligendi iste fuga earum. Quas, soluta!</div>
					<div class="pane">Voluptatem nemo vero, nostrum. Dolores maiores voluptate inventore numquam, laboriosam, cum voluptatibus, laborum consequatur autem illo quas porro. Nostrum eum, a veniam reprehenderit architecto voluptatibus rerum ad illum commodi veritatis.</div>
					<div class="pane">Quia incidunt velit, accusantium provident error, fugit quaerat aperiam corporis sequi et qui animi voluptates alias, exercitationem quo veniam repellat quas. Deleniti nulla, optio vero perferendis consequatur minus sapiente! Eos.</div>
					<div class="pane">Temporibus totam, hic facere beatae veniam ea aperiam laudantium fugit odit unde repudiandae, laborum perferendis nisi deserunt molestiae, omnis impedit ipsa inventore accusamus at aliquam sint magni voluptatum. Quos, provident!</div>
				</div>

				<h2>Tab group</h2>
				<p>This component is built with <code>nav-tab</code> and <code>panes</code></p>
				<div class="tab-group" ng-class="$id">
					<div class="tab" tab-heading="Tab 1" ng-controller="test">
						<p>Why {{angular}} doesn't work in tabs? {{$id}}</p>
						<p>Content 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea unde cupiditate soluta quibusdam similique. Iste cum ullam magni dolores quidem quae harum laborum voluptate est odit. Quibusdam id natus alias.</p>
					</div>
					<div class="tab" tab-heading="Tab 2">
						<p>Why {{angular}} doesn't work in tabs? {{$id}}</p>
						<p>Content 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, ipsam, asperiores ab quo ex nostrum omnis magnam corporis deserunt reiciendis temporibus officiis architecto expedita sit dolor recusandae saepe sint velit!</p>
					</div>
					<div class="tab" tab-heading="Tab 3">
						<p>Why {{angular}} doesn't work in tabs? {{$id}}</p>
						<p>Content 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, explicabo provident quasi placeat alias quod impedit tempore quos id odit quas sed. Vero, cum atque ex ipsum corporis voluptates sit.</p>
					</div>
					<div class="tab" tab-heading="Tab 4">
						<p>Why {{angular}} doesn't work in tabs? {{$id}}</p>
						<p>Content 4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolores rerum impedit voluptatum quos dolor in inventore fugiat natus omnis voluptas aspernatur expedita accusantium adipisci nobis nulla quia saepe assumenda?</p>
					</div>
					<div class="tab" tab-heading="Tab 5">
						<p>Why {{angular}} doesn't work in tabs? {{$id}}</p>
						<p>Content 5. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quibusdam, blanditiis deserunt ea recusandae asperiores deleniti maxime ullam minus tenetur necessitatibus explicabo optio reiciendis libero mollitia cum quas. Omnis, nihil.</p>
					</div>
				</div>

				<h2>Input group</h2>
				<div class="input-group">
					<div class="input-group-addon">
						Search
					</div>
					<div class="input-group-input">
						<input type="text"/>
					</div>
				</div>
				<div class="input-group">
					<div class="input-group-input">
						<input type="text"/>
					</div>
					<div class="input-group-addon">
						Search
					</div>
				</div>
				<div class="input-group">
					<div class="input-group-input col-xs-1-2">
						<input type="text"/>
					</div>
					<div class="input-group-input col-xs-1-2">
						<input type="text"/>
					</div>
					<div class="input-group-addon">
						Search
					</div>
				</div>
				<div class="input-group">
					<div class="input-group-addon">
						Search
					</div>
					<div class="input-group-input col-xs-1-2">
						<input type="text"/>
					</div>
					<div class="input-group-input col-xs-1-2">
						<input type="text"/>
					</div>
				</div>

			</div>
			<div class="col-md-1-4 pull-md-3-4">
				<div class="sidebar sidebar-md">
					<button class="sidebar-toggle"></button>
					<div class="sidebar-content">
						<h2>Sidebar</h2>
						<div class="eznav"></div>
						<a href="#">#Go to top</a>
					</div>
				</div>
			</div>
		</div>

		<footer class="page-footer">
			<p>eight04 &copy; 2014</p>
		</footer>

	</div>
</body>
</html>