.section-base,
p,
form,
fieldset {
  margin: 1em 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 1.55;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 15px;
  font-weight: 400;
  color: inherit;
}
h1 {
  font-size: 260%;
}
h2 {
  font-size: 215%;
}
h3 {
  font-size: 170%;
}
h4 {
  font-size: 125%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 85%;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 0.24em 1.04em;
}
.table-responsive {
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}
.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}
.form-base,
input,
textarea,
button,
.btn,
select {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: middle;
  height: 2em;
  border: none;
}
input {
  display: block;
  margin: 0.25em 0 1em;
  width: 100%;
}
textarea {
  display: block;
  margin: 0.25em 0 1em;
  width: 100%;
  height: auto;
}
button,
.btn {
  cursor: pointer;
  text-align: center;
}
button::-moz-focus-inner,
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
select {
  display: block;
  margin: 0.25em 0 1em;
  width: 100%;
  cursor: pointer;
}
select[multiple] {
  height: auto;
}
.btn:link,
.btn:visited {
  color: inherit;
}
fieldset {
  padding: 0;
  border: none;
}
legend {
  padding: 0;
}
.radio label,
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
}
.radio input[type="radio"],
.checkbox input[type="radio"],
.radio input[type="checkbox"],
.checkbox input[type="checkbox"] {
  color: inherit;
  position: absolute;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.btn-block {
  display: block;
  margin: 0.25em 0;
}
.btn-group {
  display: inline-block;
  overflow: hidden;
}
.btn-group > * {
  display: block;
  float: left;
  margin: 0;
}
.form-inline input,
.form-inline select,
.form-inline .radio,
.form-inline .checkbox,
.form-inline fieldset {
  display: inline-block;
  width: auto;
  margin: 0;
}
img {
  vertical-align: text-bottom;
  max-width: 100%;
}
img[class*="right-"],
img[class*="left-"] {
  display: block;
  margin: 0.5em auto;
}
/**
	Grid system
*/
.container-fluid {
  padding: 0 15px;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: -9999px;
}
.row-top {
  align-items: flex-start;
}
.row-top > * {
  vertical-align: top;
}
.row-middle {
  align-items: center;
}
.row-middle > * {
  vertical-align: middle;
}
.row-bottom {
  align-items: flex-end;
}
.row-bottom > * {
  vertical-align: bottom;
}
.col-top {
  align-self: flex-start;
}
.row .col-top {
  vertical-align: top;
}
.col-middle {
  align-self: center;
}
.row .col-middle {
  vertical-align: middle;
}
.col-bottom {
  align-self: flex-end;
}
.row .col-bottom {
  vertical-align: bottom;
}
.row-nogap {
  margin-left: 0;
  margin-right: 0;
}
.row-nogap > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: normal;
  display: inline-block;
  width: 100%;
}
[class*="push-"],
[class*="pull-"] {
  position: relative;
}
.col-xs-1-1 {
  width: 100%;
}
.push-xs-1-1 {
  left: 100%;
}
.pull-xs-1-1 {
  right: 100%;
}
.col-xs-1-2 {
  width: 50%;
}
.push-xs-1-2 {
  left: 50%;
}
.pull-xs-1-2 {
  right: 50%;
}
.col-xs-1-3 {
  width: 33.33333333%;
}
.push-xs-1-3 {
  left: 33.33333333%;
}
.pull-xs-1-3 {
  right: 33.33333333%;
}
.col-xs-2-3 {
  width: 66.66666667%;
}
.push-xs-2-3 {
  left: 66.66666667%;
}
.pull-xs-2-3 {
  right: 66.66666667%;
}
.col-xs-1-4 {
  width: 25%;
}
.push-xs-1-4 {
  left: 25%;
}
.pull-xs-1-4 {
  right: 25%;
}
.col-xs-3-4 {
  width: 75%;
}
.push-xs-3-4 {
  left: 75%;
}
.pull-xs-3-4 {
  right: 75%;
}
.col-xs-1-5 {
  width: 20%;
}
.push-xs-1-5 {
  left: 20%;
}
.pull-xs-1-5 {
  right: 20%;
}
.col-xs-2-5 {
  width: 40%;
}
.push-xs-2-5 {
  left: 40%;
}
.pull-xs-2-5 {
  right: 40%;
}
.col-xs-3-5 {
  width: 60%;
}
.push-xs-3-5 {
  left: 60%;
}
.pull-xs-3-5 {
  right: 60%;
}
.col-xs-4-5 {
  width: 80%;
}
.push-xs-4-5 {
  left: 80%;
}
.pull-xs-4-5 {
  right: 80%;
}
.col-xs-1-6 {
  width: 16.66666667%;
}
.push-xs-1-6 {
  left: 16.66666667%;
}
.pull-xs-1-6 {
  right: 16.66666667%;
}
.col-xs-5-6 {
  width: 83.33333333%;
}
.push-xs-5-6 {
  left: 83.33333333%;
}
.pull-xs-5-6 {
  right: 83.33333333%;
}
.col-xs-1-7 {
  width: 14.28571429%;
}
.push-xs-1-7 {
  left: 14.28571429%;
}
.pull-xs-1-7 {
  right: 14.28571429%;
}
.col-xs-2-7 {
  width: 28.57142857%;
}
.push-xs-2-7 {
  left: 28.57142857%;
}
.pull-xs-2-7 {
  right: 28.57142857%;
}
.col-xs-3-7 {
  width: 42.85714286%;
}
.push-xs-3-7 {
  left: 42.85714286%;
}
.pull-xs-3-7 {
  right: 42.85714286%;
}
.col-xs-4-7 {
  width: 57.14285714%;
}
.push-xs-4-7 {
  left: 57.14285714%;
}
.pull-xs-4-7 {
  right: 57.14285714%;
}
.col-xs-5-7 {
  width: 71.42857143%;
}
.push-xs-5-7 {
  left: 71.42857143%;
}
.pull-xs-5-7 {
  right: 71.42857143%;
}
.col-xs-6-7 {
  width: 85.71428571%;
}
.push-xs-6-7 {
  left: 85.71428571%;
}
.pull-xs-6-7 {
  right: 85.71428571%;
}
.col-xs-1-8 {
  width: 12.5%;
}
.push-xs-1-8 {
  left: 12.5%;
}
.pull-xs-1-8 {
  right: 12.5%;
}
.col-xs-3-8 {
  width: 37.5%;
}
.push-xs-3-8 {
  left: 37.5%;
}
.pull-xs-3-8 {
  right: 37.5%;
}
.col-xs-5-8 {
  width: 62.5%;
}
.push-xs-5-8 {
  left: 62.5%;
}
.pull-xs-5-8 {
  right: 62.5%;
}
.col-xs-7-8 {
  width: 87.5%;
}
.push-xs-7-8 {
  left: 87.5%;
}
.pull-xs-7-8 {
  right: 87.5%;
}
.col-xs-1-9 {
  width: 11.11111111%;
}
.push-xs-1-9 {
  left: 11.11111111%;
}
.pull-xs-1-9 {
  right: 11.11111111%;
}
.col-xs-2-9 {
  width: 22.22222222%;
}
.push-xs-2-9 {
  left: 22.22222222%;
}
.pull-xs-2-9 {
  right: 22.22222222%;
}
.col-xs-4-9 {
  width: 44.44444444%;
}
.push-xs-4-9 {
  left: 44.44444444%;
}
.pull-xs-4-9 {
  right: 44.44444444%;
}
.col-xs-5-9 {
  width: 55.55555556%;
}
.push-xs-5-9 {
  left: 55.55555556%;
}
.pull-xs-5-9 {
  right: 55.55555556%;
}
.col-xs-7-9 {
  width: 77.77777778%;
}
.push-xs-7-9 {
  left: 77.77777778%;
}
.pull-xs-7-9 {
  right: 77.77777778%;
}
.col-xs-8-9 {
  width: 88.88888889%;
}
.push-xs-8-9 {
  left: 88.88888889%;
}
.pull-xs-8-9 {
  right: 88.88888889%;
}
.col-xs-1-10 {
  width: 10%;
}
.push-xs-1-10 {
  left: 10%;
}
.pull-xs-1-10 {
  right: 10%;
}
.col-xs-3-10 {
  width: 30%;
}
.push-xs-3-10 {
  left: 30%;
}
.pull-xs-3-10 {
  right: 30%;
}
.col-xs-7-10 {
  width: 70%;
}
.push-xs-7-10 {
  left: 70%;
}
.pull-xs-7-10 {
  right: 70%;
}
.col-xs-9-10 {
  width: 90%;
}
.push-xs-9-10 {
  left: 90%;
}
.pull-xs-9-10 {
  right: 90%;
}
.col-xs-1-11 {
  width: 9.09090909%;
}
.push-xs-1-11 {
  left: 9.09090909%;
}
.pull-xs-1-11 {
  right: 9.09090909%;
}
.col-xs-2-11 {
  width: 18.18181818%;
}
.push-xs-2-11 {
  left: 18.18181818%;
}
.pull-xs-2-11 {
  right: 18.18181818%;
}
.col-xs-3-11 {
  width: 27.27272727%;
}
.push-xs-3-11 {
  left: 27.27272727%;
}
.pull-xs-3-11 {
  right: 27.27272727%;
}
.col-xs-4-11 {
  width: 36.36363636%;
}
.push-xs-4-11 {
  left: 36.36363636%;
}
.pull-xs-4-11 {
  right: 36.36363636%;
}
.col-xs-5-11 {
  width: 45.45454545%;
}
.push-xs-5-11 {
  left: 45.45454545%;
}
.pull-xs-5-11 {
  right: 45.45454545%;
}
.col-xs-6-11 {
  width: 54.54545455%;
}
.push-xs-6-11 {
  left: 54.54545455%;
}
.pull-xs-6-11 {
  right: 54.54545455%;
}
.col-xs-7-11 {
  width: 63.63636364%;
}
.push-xs-7-11 {
  left: 63.63636364%;
}
.pull-xs-7-11 {
  right: 63.63636364%;
}
.col-xs-8-11 {
  width: 72.72727273%;
}
.push-xs-8-11 {
  left: 72.72727273%;
}
.pull-xs-8-11 {
  right: 72.72727273%;
}
.col-xs-9-11 {
  width: 81.81818182%;
}
.push-xs-9-11 {
  left: 81.81818182%;
}
.pull-xs-9-11 {
  right: 81.81818182%;
}
.col-xs-10-11 {
  width: 90.90909091%;
}
.push-xs-10-11 {
  left: 90.90909091%;
}
.pull-xs-10-11 {
  right: 90.90909091%;
}
.col-xs-1-12 {
  width: 8.33333333%;
}
.push-xs-1-12 {
  left: 8.33333333%;
}
.pull-xs-1-12 {
  right: 8.33333333%;
}
.col-xs-5-12 {
  width: 41.66666667%;
}
.push-xs-5-12 {
  left: 41.66666667%;
}
.pull-xs-5-12 {
  right: 41.66666667%;
}
.col-xs-7-12 {
  width: 58.33333333%;
}
.push-xs-7-12 {
  left: 58.33333333%;
}
.pull-xs-7-12 {
  right: 58.33333333%;
}
.col-xs-11-12 {
  width: 91.66666667%;
}
.push-xs-11-12 {
  left: 91.66666667%;
}
.pull-xs-11-12 {
  right: 91.66666667%;
}
.col-xs-1-13 {
  width: 7.69230769%;
}
.push-xs-1-13 {
  left: 7.69230769%;
}
.pull-xs-1-13 {
  right: 7.69230769%;
}
.col-xs-2-13 {
  width: 15.38461538%;
}
.push-xs-2-13 {
  left: 15.38461538%;
}
.pull-xs-2-13 {
  right: 15.38461538%;
}
.col-xs-3-13 {
  width: 23.07692308%;
}
.push-xs-3-13 {
  left: 23.07692308%;
}
.pull-xs-3-13 {
  right: 23.07692308%;
}
.col-xs-4-13 {
  width: 30.76923077%;
}
.push-xs-4-13 {
  left: 30.76923077%;
}
.pull-xs-4-13 {
  right: 30.76923077%;
}
.col-xs-5-13 {
  width: 38.46153846%;
}
.push-xs-5-13 {
  left: 38.46153846%;
}
.pull-xs-5-13 {
  right: 38.46153846%;
}
.col-xs-6-13 {
  width: 46.15384615%;
}
.push-xs-6-13 {
  left: 46.15384615%;
}
.pull-xs-6-13 {
  right: 46.15384615%;
}
.col-xs-7-13 {
  width: 53.84615385%;
}
.push-xs-7-13 {
  left: 53.84615385%;
}
.pull-xs-7-13 {
  right: 53.84615385%;
}
.col-xs-8-13 {
  width: 61.53846154%;
}
.push-xs-8-13 {
  left: 61.53846154%;
}
.pull-xs-8-13 {
  right: 61.53846154%;
}
.col-xs-9-13 {
  width: 69.23076923%;
}
.push-xs-9-13 {
  left: 69.23076923%;
}
.pull-xs-9-13 {
  right: 69.23076923%;
}
.col-xs-10-13 {
  width: 76.92307692%;
}
.push-xs-10-13 {
  left: 76.92307692%;
}
.pull-xs-10-13 {
  right: 76.92307692%;
}
.col-xs-11-13 {
  width: 84.61538462%;
}
.push-xs-11-13 {
  left: 84.61538462%;
}
.pull-xs-11-13 {
  right: 84.61538462%;
}
.col-xs-12-13 {
  width: 92.30769231%;
}
.push-xs-12-13 {
  left: 92.30769231%;
}
.pull-xs-12-13 {
  right: 92.30769231%;
}
.col-xs-1-14 {
  width: 7.14285714%;
}
.push-xs-1-14 {
  left: 7.14285714%;
}
.pull-xs-1-14 {
  right: 7.14285714%;
}
.col-xs-3-14 {
  width: 21.42857143%;
}
.push-xs-3-14 {
  left: 21.42857143%;
}
.pull-xs-3-14 {
  right: 21.42857143%;
}
.col-xs-5-14 {
  width: 35.71428571%;
}
.push-xs-5-14 {
  left: 35.71428571%;
}
.pull-xs-5-14 {
  right: 35.71428571%;
}
.col-xs-9-14 {
  width: 64.28571429%;
}
.push-xs-9-14 {
  left: 64.28571429%;
}
.pull-xs-9-14 {
  right: 64.28571429%;
}
.col-xs-11-14 {
  width: 78.57142857%;
}
.push-xs-11-14 {
  left: 78.57142857%;
}
.pull-xs-11-14 {
  right: 78.57142857%;
}
.col-xs-13-14 {
  width: 92.85714286%;
}
.push-xs-13-14 {
  left: 92.85714286%;
}
.pull-xs-13-14 {
  right: 92.85714286%;
}
@media (min-width: 768px) {
  .col-sm-1-1 {
    width: 100%;
  }
  .push-sm-1-1 {
    left: 100%;
  }
  .pull-sm-1-1 {
    right: 100%;
  }
  .col-sm-1-2 {
    width: 50%;
  }
  .push-sm-1-2 {
    left: 50%;
  }
  .pull-sm-1-2 {
    right: 50%;
  }
  .col-sm-1-3 {
    width: 33.33333333%;
  }
  .push-sm-1-3 {
    left: 33.33333333%;
  }
  .pull-sm-1-3 {
    right: 33.33333333%;
  }
  .col-sm-2-3 {
    width: 66.66666667%;
  }
  .push-sm-2-3 {
    left: 66.66666667%;
  }
  .pull-sm-2-3 {
    right: 66.66666667%;
  }
  .col-sm-1-4 {
    width: 25%;
  }
  .push-sm-1-4 {
    left: 25%;
  }
  .pull-sm-1-4 {
    right: 25%;
  }
  .col-sm-3-4 {
    width: 75%;
  }
  .push-sm-3-4 {
    left: 75%;
  }
  .pull-sm-3-4 {
    right: 75%;
  }
  .col-sm-1-5 {
    width: 20%;
  }
  .push-sm-1-5 {
    left: 20%;
  }
  .pull-sm-1-5 {
    right: 20%;
  }
  .col-sm-2-5 {
    width: 40%;
  }
  .push-sm-2-5 {
    left: 40%;
  }
  .pull-sm-2-5 {
    right: 40%;
  }
  .col-sm-3-5 {
    width: 60%;
  }
  .push-sm-3-5 {
    left: 60%;
  }
  .pull-sm-3-5 {
    right: 60%;
  }
  .col-sm-4-5 {
    width: 80%;
  }
  .push-sm-4-5 {
    left: 80%;
  }
  .pull-sm-4-5 {
    right: 80%;
  }
  .col-sm-1-6 {
    width: 16.66666667%;
  }
  .push-sm-1-6 {
    left: 16.66666667%;
  }
  .pull-sm-1-6 {
    right: 16.66666667%;
  }
  .col-sm-5-6 {
    width: 83.33333333%;
  }
  .push-sm-5-6 {
    left: 83.33333333%;
  }
  .pull-sm-5-6 {
    right: 83.33333333%;
  }
  .col-sm-1-7 {
    width: 14.28571429%;
  }
  .push-sm-1-7 {
    left: 14.28571429%;
  }
  .pull-sm-1-7 {
    right: 14.28571429%;
  }
  .col-sm-2-7 {
    width: 28.57142857%;
  }
  .push-sm-2-7 {
    left: 28.57142857%;
  }
  .pull-sm-2-7 {
    right: 28.57142857%;
  }
  .col-sm-3-7 {
    width: 42.85714286%;
  }
  .push-sm-3-7 {
    left: 42.85714286%;
  }
  .pull-sm-3-7 {
    right: 42.85714286%;
  }
  .col-sm-4-7 {
    width: 57.14285714%;
  }
  .push-sm-4-7 {
    left: 57.14285714%;
  }
  .pull-sm-4-7 {
    right: 57.14285714%;
  }
  .col-sm-5-7 {
    width: 71.42857143%;
  }
  .push-sm-5-7 {
    left: 71.42857143%;
  }
  .pull-sm-5-7 {
    right: 71.42857143%;
  }
  .col-sm-6-7 {
    width: 85.71428571%;
  }
  .push-sm-6-7 {
    left: 85.71428571%;
  }
  .pull-sm-6-7 {
    right: 85.71428571%;
  }
  .col-sm-1-8 {
    width: 12.5%;
  }
  .push-sm-1-8 {
    left: 12.5%;
  }
  .pull-sm-1-8 {
    right: 12.5%;
  }
  .col-sm-3-8 {
    width: 37.5%;
  }
  .push-sm-3-8 {
    left: 37.5%;
  }
  .pull-sm-3-8 {
    right: 37.5%;
  }
  .col-sm-5-8 {
    width: 62.5%;
  }
  .push-sm-5-8 {
    left: 62.5%;
  }
  .pull-sm-5-8 {
    right: 62.5%;
  }
  .col-sm-7-8 {
    width: 87.5%;
  }
  .push-sm-7-8 {
    left: 87.5%;
  }
  .pull-sm-7-8 {
    right: 87.5%;
  }
  .col-sm-1-9 {
    width: 11.11111111%;
  }
  .push-sm-1-9 {
    left: 11.11111111%;
  }
  .pull-sm-1-9 {
    right: 11.11111111%;
  }
  .col-sm-2-9 {
    width: 22.22222222%;
  }
  .push-sm-2-9 {
    left: 22.22222222%;
  }
  .pull-sm-2-9 {
    right: 22.22222222%;
  }
  .col-sm-4-9 {
    width: 44.44444444%;
  }
  .push-sm-4-9 {
    left: 44.44444444%;
  }
  .pull-sm-4-9 {
    right: 44.44444444%;
  }
  .col-sm-5-9 {
    width: 55.55555556%;
  }
  .push-sm-5-9 {
    left: 55.55555556%;
  }
  .pull-sm-5-9 {
    right: 55.55555556%;
  }
  .col-sm-7-9 {
    width: 77.77777778%;
  }
  .push-sm-7-9 {
    left: 77.77777778%;
  }
  .pull-sm-7-9 {
    right: 77.77777778%;
  }
  .col-sm-8-9 {
    width: 88.88888889%;
  }
  .push-sm-8-9 {
    left: 88.88888889%;
  }
  .pull-sm-8-9 {
    right: 88.88888889%;
  }
  .col-sm-1-10 {
    width: 10%;
  }
  .push-sm-1-10 {
    left: 10%;
  }
  .pull-sm-1-10 {
    right: 10%;
  }
  .col-sm-3-10 {
    width: 30%;
  }
  .push-sm-3-10 {
    left: 30%;
  }
  .pull-sm-3-10 {
    right: 30%;
  }
  .col-sm-7-10 {
    width: 70%;
  }
  .push-sm-7-10 {
    left: 70%;
  }
  .pull-sm-7-10 {
    right: 70%;
  }
  .col-sm-9-10 {
    width: 90%;
  }
  .push-sm-9-10 {
    left: 90%;
  }
  .pull-sm-9-10 {
    right: 90%;
  }
  .col-sm-1-11 {
    width: 9.09090909%;
  }
  .push-sm-1-11 {
    left: 9.09090909%;
  }
  .pull-sm-1-11 {
    right: 9.09090909%;
  }
  .col-sm-2-11 {
    width: 18.18181818%;
  }
  .push-sm-2-11 {
    left: 18.18181818%;
  }
  .pull-sm-2-11 {
    right: 18.18181818%;
  }
  .col-sm-3-11 {
    width: 27.27272727%;
  }
  .push-sm-3-11 {
    left: 27.27272727%;
  }
  .pull-sm-3-11 {
    right: 27.27272727%;
  }
  .col-sm-4-11 {
    width: 36.36363636%;
  }
  .push-sm-4-11 {
    left: 36.36363636%;
  }
  .pull-sm-4-11 {
    right: 36.36363636%;
  }
  .col-sm-5-11 {
    width: 45.45454545%;
  }
  .push-sm-5-11 {
    left: 45.45454545%;
  }
  .pull-sm-5-11 {
    right: 45.45454545%;
  }
  .col-sm-6-11 {
    width: 54.54545455%;
  }
  .push-sm-6-11 {
    left: 54.54545455%;
  }
  .pull-sm-6-11 {
    right: 54.54545455%;
  }
  .col-sm-7-11 {
    width: 63.63636364%;
  }
  .push-sm-7-11 {
    left: 63.63636364%;
  }
  .pull-sm-7-11 {
    right: 63.63636364%;
  }
  .col-sm-8-11 {
    width: 72.72727273%;
  }
  .push-sm-8-11 {
    left: 72.72727273%;
  }
  .pull-sm-8-11 {
    right: 72.72727273%;
  }
  .col-sm-9-11 {
    width: 81.81818182%;
  }
  .push-sm-9-11 {
    left: 81.81818182%;
  }
  .pull-sm-9-11 {
    right: 81.81818182%;
  }
  .col-sm-10-11 {
    width: 90.90909091%;
  }
  .push-sm-10-11 {
    left: 90.90909091%;
  }
  .pull-sm-10-11 {
    right: 90.90909091%;
  }
  .col-sm-1-12 {
    width: 8.33333333%;
  }
  .push-sm-1-12 {
    left: 8.33333333%;
  }
  .pull-sm-1-12 {
    right: 8.33333333%;
  }
  .col-sm-5-12 {
    width: 41.66666667%;
  }
  .push-sm-5-12 {
    left: 41.66666667%;
  }
  .pull-sm-5-12 {
    right: 41.66666667%;
  }
  .col-sm-7-12 {
    width: 58.33333333%;
  }
  .push-sm-7-12 {
    left: 58.33333333%;
  }
  .pull-sm-7-12 {
    right: 58.33333333%;
  }
  .col-sm-11-12 {
    width: 91.66666667%;
  }
  .push-sm-11-12 {
    left: 91.66666667%;
  }
  .pull-sm-11-12 {
    right: 91.66666667%;
  }
  .col-sm-1-13 {
    width: 7.69230769%;
  }
  .push-sm-1-13 {
    left: 7.69230769%;
  }
  .pull-sm-1-13 {
    right: 7.69230769%;
  }
  .col-sm-2-13 {
    width: 15.38461538%;
  }
  .push-sm-2-13 {
    left: 15.38461538%;
  }
  .pull-sm-2-13 {
    right: 15.38461538%;
  }
  .col-sm-3-13 {
    width: 23.07692308%;
  }
  .push-sm-3-13 {
    left: 23.07692308%;
  }
  .pull-sm-3-13 {
    right: 23.07692308%;
  }
  .col-sm-4-13 {
    width: 30.76923077%;
  }
  .push-sm-4-13 {
    left: 30.76923077%;
  }
  .pull-sm-4-13 {
    right: 30.76923077%;
  }
  .col-sm-5-13 {
    width: 38.46153846%;
  }
  .push-sm-5-13 {
    left: 38.46153846%;
  }
  .pull-sm-5-13 {
    right: 38.46153846%;
  }
  .col-sm-6-13 {
    width: 46.15384615%;
  }
  .push-sm-6-13 {
    left: 46.15384615%;
  }
  .pull-sm-6-13 {
    right: 46.15384615%;
  }
  .col-sm-7-13 {
    width: 53.84615385%;
  }
  .push-sm-7-13 {
    left: 53.84615385%;
  }
  .pull-sm-7-13 {
    right: 53.84615385%;
  }
  .col-sm-8-13 {
    width: 61.53846154%;
  }
  .push-sm-8-13 {
    left: 61.53846154%;
  }
  .pull-sm-8-13 {
    right: 61.53846154%;
  }
  .col-sm-9-13 {
    width: 69.23076923%;
  }
  .push-sm-9-13 {
    left: 69.23076923%;
  }
  .pull-sm-9-13 {
    right: 69.23076923%;
  }
  .col-sm-10-13 {
    width: 76.92307692%;
  }
  .push-sm-10-13 {
    left: 76.92307692%;
  }
  .pull-sm-10-13 {
    right: 76.92307692%;
  }
  .col-sm-11-13 {
    width: 84.61538462%;
  }
  .push-sm-11-13 {
    left: 84.61538462%;
  }
  .pull-sm-11-13 {
    right: 84.61538462%;
  }
  .col-sm-12-13 {
    width: 92.30769231%;
  }
  .push-sm-12-13 {
    left: 92.30769231%;
  }
  .pull-sm-12-13 {
    right: 92.30769231%;
  }
  .col-sm-1-14 {
    width: 7.14285714%;
  }
  .push-sm-1-14 {
    left: 7.14285714%;
  }
  .pull-sm-1-14 {
    right: 7.14285714%;
  }
  .col-sm-3-14 {
    width: 21.42857143%;
  }
  .push-sm-3-14 {
    left: 21.42857143%;
  }
  .pull-sm-3-14 {
    right: 21.42857143%;
  }
  .col-sm-5-14 {
    width: 35.71428571%;
  }
  .push-sm-5-14 {
    left: 35.71428571%;
  }
  .pull-sm-5-14 {
    right: 35.71428571%;
  }
  .col-sm-9-14 {
    width: 64.28571429%;
  }
  .push-sm-9-14 {
    left: 64.28571429%;
  }
  .pull-sm-9-14 {
    right: 64.28571429%;
  }
  .col-sm-11-14 {
    width: 78.57142857%;
  }
  .push-sm-11-14 {
    left: 78.57142857%;
  }
  .pull-sm-11-14 {
    right: 78.57142857%;
  }
  .col-sm-13-14 {
    width: 92.85714286%;
  }
  .push-sm-13-14 {
    left: 92.85714286%;
  }
  .pull-sm-13-14 {
    right: 92.85714286%;
  }
}
@media (min-width: 1024px) {
  .col-md-1-1 {
    width: 100%;
  }
  .push-md-1-1 {
    left: 100%;
  }
  .pull-md-1-1 {
    right: 100%;
  }
  .col-md-1-2 {
    width: 50%;
  }
  .push-md-1-2 {
    left: 50%;
  }
  .pull-md-1-2 {
    right: 50%;
  }
  .col-md-1-3 {
    width: 33.33333333%;
  }
  .push-md-1-3 {
    left: 33.33333333%;
  }
  .pull-md-1-3 {
    right: 33.33333333%;
  }
  .col-md-2-3 {
    width: 66.66666667%;
  }
  .push-md-2-3 {
    left: 66.66666667%;
  }
  .pull-md-2-3 {
    right: 66.66666667%;
  }
  .col-md-1-4 {
    width: 25%;
  }
  .push-md-1-4 {
    left: 25%;
  }
  .pull-md-1-4 {
    right: 25%;
  }
  .col-md-3-4 {
    width: 75%;
  }
  .push-md-3-4 {
    left: 75%;
  }
  .pull-md-3-4 {
    right: 75%;
  }
  .col-md-1-5 {
    width: 20%;
  }
  .push-md-1-5 {
    left: 20%;
  }
  .pull-md-1-5 {
    right: 20%;
  }
  .col-md-2-5 {
    width: 40%;
  }
  .push-md-2-5 {
    left: 40%;
  }
  .pull-md-2-5 {
    right: 40%;
  }
  .col-md-3-5 {
    width: 60%;
  }
  .push-md-3-5 {
    left: 60%;
  }
  .pull-md-3-5 {
    right: 60%;
  }
  .col-md-4-5 {
    width: 80%;
  }
  .push-md-4-5 {
    left: 80%;
  }
  .pull-md-4-5 {
    right: 80%;
  }
  .col-md-1-6 {
    width: 16.66666667%;
  }
  .push-md-1-6 {
    left: 16.66666667%;
  }
  .pull-md-1-6 {
    right: 16.66666667%;
  }
  .col-md-5-6 {
    width: 83.33333333%;
  }
  .push-md-5-6 {
    left: 83.33333333%;
  }
  .pull-md-5-6 {
    right: 83.33333333%;
  }
  .col-md-1-7 {
    width: 14.28571429%;
  }
  .push-md-1-7 {
    left: 14.28571429%;
  }
  .pull-md-1-7 {
    right: 14.28571429%;
  }
  .col-md-2-7 {
    width: 28.57142857%;
  }
  .push-md-2-7 {
    left: 28.57142857%;
  }
  .pull-md-2-7 {
    right: 28.57142857%;
  }
  .col-md-3-7 {
    width: 42.85714286%;
  }
  .push-md-3-7 {
    left: 42.85714286%;
  }
  .pull-md-3-7 {
    right: 42.85714286%;
  }
  .col-md-4-7 {
    width: 57.14285714%;
  }
  .push-md-4-7 {
    left: 57.14285714%;
  }
  .pull-md-4-7 {
    right: 57.14285714%;
  }
  .col-md-5-7 {
    width: 71.42857143%;
  }
  .push-md-5-7 {
    left: 71.42857143%;
  }
  .pull-md-5-7 {
    right: 71.42857143%;
  }
  .col-md-6-7 {
    width: 85.71428571%;
  }
  .push-md-6-7 {
    left: 85.71428571%;
  }
  .pull-md-6-7 {
    right: 85.71428571%;
  }
  .col-md-1-8 {
    width: 12.5%;
  }
  .push-md-1-8 {
    left: 12.5%;
  }
  .pull-md-1-8 {
    right: 12.5%;
  }
  .col-md-3-8 {
    width: 37.5%;
  }
  .push-md-3-8 {
    left: 37.5%;
  }
  .pull-md-3-8 {
    right: 37.5%;
  }
  .col-md-5-8 {
    width: 62.5%;
  }
  .push-md-5-8 {
    left: 62.5%;
  }
  .pull-md-5-8 {
    right: 62.5%;
  }
  .col-md-7-8 {
    width: 87.5%;
  }
  .push-md-7-8 {
    left: 87.5%;
  }
  .pull-md-7-8 {
    right: 87.5%;
  }
  .col-md-1-9 {
    width: 11.11111111%;
  }
  .push-md-1-9 {
    left: 11.11111111%;
  }
  .pull-md-1-9 {
    right: 11.11111111%;
  }
  .col-md-2-9 {
    width: 22.22222222%;
  }
  .push-md-2-9 {
    left: 22.22222222%;
  }
  .pull-md-2-9 {
    right: 22.22222222%;
  }
  .col-md-4-9 {
    width: 44.44444444%;
  }
  .push-md-4-9 {
    left: 44.44444444%;
  }
  .pull-md-4-9 {
    right: 44.44444444%;
  }
  .col-md-5-9 {
    width: 55.55555556%;
  }
  .push-md-5-9 {
    left: 55.55555556%;
  }
  .pull-md-5-9 {
    right: 55.55555556%;
  }
  .col-md-7-9 {
    width: 77.77777778%;
  }
  .push-md-7-9 {
    left: 77.77777778%;
  }
  .pull-md-7-9 {
    right: 77.77777778%;
  }
  .col-md-8-9 {
    width: 88.88888889%;
  }
  .push-md-8-9 {
    left: 88.88888889%;
  }
  .pull-md-8-9 {
    right: 88.88888889%;
  }
  .col-md-1-10 {
    width: 10%;
  }
  .push-md-1-10 {
    left: 10%;
  }
  .pull-md-1-10 {
    right: 10%;
  }
  .col-md-3-10 {
    width: 30%;
  }
  .push-md-3-10 {
    left: 30%;
  }
  .pull-md-3-10 {
    right: 30%;
  }
  .col-md-7-10 {
    width: 70%;
  }
  .push-md-7-10 {
    left: 70%;
  }
  .pull-md-7-10 {
    right: 70%;
  }
  .col-md-9-10 {
    width: 90%;
  }
  .push-md-9-10 {
    left: 90%;
  }
  .pull-md-9-10 {
    right: 90%;
  }
  .col-md-1-11 {
    width: 9.09090909%;
  }
  .push-md-1-11 {
    left: 9.09090909%;
  }
  .pull-md-1-11 {
    right: 9.09090909%;
  }
  .col-md-2-11 {
    width: 18.18181818%;
  }
  .push-md-2-11 {
    left: 18.18181818%;
  }
  .pull-md-2-11 {
    right: 18.18181818%;
  }
  .col-md-3-11 {
    width: 27.27272727%;
  }
  .push-md-3-11 {
    left: 27.27272727%;
  }
  .pull-md-3-11 {
    right: 27.27272727%;
  }
  .col-md-4-11 {
    width: 36.36363636%;
  }
  .push-md-4-11 {
    left: 36.36363636%;
  }
  .pull-md-4-11 {
    right: 36.36363636%;
  }
  .col-md-5-11 {
    width: 45.45454545%;
  }
  .push-md-5-11 {
    left: 45.45454545%;
  }
  .pull-md-5-11 {
    right: 45.45454545%;
  }
  .col-md-6-11 {
    width: 54.54545455%;
  }
  .push-md-6-11 {
    left: 54.54545455%;
  }
  .pull-md-6-11 {
    right: 54.54545455%;
  }
  .col-md-7-11 {
    width: 63.63636364%;
  }
  .push-md-7-11 {
    left: 63.63636364%;
  }
  .pull-md-7-11 {
    right: 63.63636364%;
  }
  .col-md-8-11 {
    width: 72.72727273%;
  }
  .push-md-8-11 {
    left: 72.72727273%;
  }
  .pull-md-8-11 {
    right: 72.72727273%;
  }
  .col-md-9-11 {
    width: 81.81818182%;
  }
  .push-md-9-11 {
    left: 81.81818182%;
  }
  .pull-md-9-11 {
    right: 81.81818182%;
  }
  .col-md-10-11 {
    width: 90.90909091%;
  }
  .push-md-10-11 {
    left: 90.90909091%;
  }
  .pull-md-10-11 {
    right: 90.90909091%;
  }
  .col-md-1-12 {
    width: 8.33333333%;
  }
  .push-md-1-12 {
    left: 8.33333333%;
  }
  .pull-md-1-12 {
    right: 8.33333333%;
  }
  .col-md-5-12 {
    width: 41.66666667%;
  }
  .push-md-5-12 {
    left: 41.66666667%;
  }
  .pull-md-5-12 {
    right: 41.66666667%;
  }
  .col-md-7-12 {
    width: 58.33333333%;
  }
  .push-md-7-12 {
    left: 58.33333333%;
  }
  .pull-md-7-12 {
    right: 58.33333333%;
  }
  .col-md-11-12 {
    width: 91.66666667%;
  }
  .push-md-11-12 {
    left: 91.66666667%;
  }
  .pull-md-11-12 {
    right: 91.66666667%;
  }
  .col-md-1-13 {
    width: 7.69230769%;
  }
  .push-md-1-13 {
    left: 7.69230769%;
  }
  .pull-md-1-13 {
    right: 7.69230769%;
  }
  .col-md-2-13 {
    width: 15.38461538%;
  }
  .push-md-2-13 {
    left: 15.38461538%;
  }
  .pull-md-2-13 {
    right: 15.38461538%;
  }
  .col-md-3-13 {
    width: 23.07692308%;
  }
  .push-md-3-13 {
    left: 23.07692308%;
  }
  .pull-md-3-13 {
    right: 23.07692308%;
  }
  .col-md-4-13 {
    width: 30.76923077%;
  }
  .push-md-4-13 {
    left: 30.76923077%;
  }
  .pull-md-4-13 {
    right: 30.76923077%;
  }
  .col-md-5-13 {
    width: 38.46153846%;
  }
  .push-md-5-13 {
    left: 38.46153846%;
  }
  .pull-md-5-13 {
    right: 38.46153846%;
  }
  .col-md-6-13 {
    width: 46.15384615%;
  }
  .push-md-6-13 {
    left: 46.15384615%;
  }
  .pull-md-6-13 {
    right: 46.15384615%;
  }
  .col-md-7-13 {
    width: 53.84615385%;
  }
  .push-md-7-13 {
    left: 53.84615385%;
  }
  .pull-md-7-13 {
    right: 53.84615385%;
  }
  .col-md-8-13 {
    width: 61.53846154%;
  }
  .push-md-8-13 {
    left: 61.53846154%;
  }
  .pull-md-8-13 {
    right: 61.53846154%;
  }
  .col-md-9-13 {
    width: 69.23076923%;
  }
  .push-md-9-13 {
    left: 69.23076923%;
  }
  .pull-md-9-13 {
    right: 69.23076923%;
  }
  .col-md-10-13 {
    width: 76.92307692%;
  }
  .push-md-10-13 {
    left: 76.92307692%;
  }
  .pull-md-10-13 {
    right: 76.92307692%;
  }
  .col-md-11-13 {
    width: 84.61538462%;
  }
  .push-md-11-13 {
    left: 84.61538462%;
  }
  .pull-md-11-13 {
    right: 84.61538462%;
  }
  .col-md-12-13 {
    width: 92.30769231%;
  }
  .push-md-12-13 {
    left: 92.30769231%;
  }
  .pull-md-12-13 {
    right: 92.30769231%;
  }
  .col-md-1-14 {
    width: 7.14285714%;
  }
  .push-md-1-14 {
    left: 7.14285714%;
  }
  .pull-md-1-14 {
    right: 7.14285714%;
  }
  .col-md-3-14 {
    width: 21.42857143%;
  }
  .push-md-3-14 {
    left: 21.42857143%;
  }
  .pull-md-3-14 {
    right: 21.42857143%;
  }
  .col-md-5-14 {
    width: 35.71428571%;
  }
  .push-md-5-14 {
    left: 35.71428571%;
  }
  .pull-md-5-14 {
    right: 35.71428571%;
  }
  .col-md-9-14 {
    width: 64.28571429%;
  }
  .push-md-9-14 {
    left: 64.28571429%;
  }
  .pull-md-9-14 {
    right: 64.28571429%;
  }
  .col-md-11-14 {
    width: 78.57142857%;
  }
  .push-md-11-14 {
    left: 78.57142857%;
  }
  .pull-md-11-14 {
    right: 78.57142857%;
  }
  .col-md-13-14 {
    width: 92.85714286%;
  }
  .push-md-13-14 {
    left: 92.85714286%;
  }
  .pull-md-13-14 {
    right: 92.85714286%;
  }
}
@media (min-width: 1440px) {
  .col-lg-1-1 {
    width: 100%;
  }
  .push-lg-1-1 {
    left: 100%;
  }
  .pull-lg-1-1 {
    right: 100%;
  }
  .col-lg-1-2 {
    width: 50%;
  }
  .push-lg-1-2 {
    left: 50%;
  }
  .pull-lg-1-2 {
    right: 50%;
  }
  .col-lg-1-3 {
    width: 33.33333333%;
  }
  .push-lg-1-3 {
    left: 33.33333333%;
  }
  .pull-lg-1-3 {
    right: 33.33333333%;
  }
  .col-lg-2-3 {
    width: 66.66666667%;
  }
  .push-lg-2-3 {
    left: 66.66666667%;
  }
  .pull-lg-2-3 {
    right: 66.66666667%;
  }
  .col-lg-1-4 {
    width: 25%;
  }
  .push-lg-1-4 {
    left: 25%;
  }
  .pull-lg-1-4 {
    right: 25%;
  }
  .col-lg-3-4 {
    width: 75%;
  }
  .push-lg-3-4 {
    left: 75%;
  }
  .pull-lg-3-4 {
    right: 75%;
  }
  .col-lg-1-5 {
    width: 20%;
  }
  .push-lg-1-5 {
    left: 20%;
  }
  .pull-lg-1-5 {
    right: 20%;
  }
  .col-lg-2-5 {
    width: 40%;
  }
  .push-lg-2-5 {
    left: 40%;
  }
  .pull-lg-2-5 {
    right: 40%;
  }
  .col-lg-3-5 {
    width: 60%;
  }
  .push-lg-3-5 {
    left: 60%;
  }
  .pull-lg-3-5 {
    right: 60%;
  }
  .col-lg-4-5 {
    width: 80%;
  }
  .push-lg-4-5 {
    left: 80%;
  }
  .pull-lg-4-5 {
    right: 80%;
  }
  .col-lg-1-6 {
    width: 16.66666667%;
  }
  .push-lg-1-6 {
    left: 16.66666667%;
  }
  .pull-lg-1-6 {
    right: 16.66666667%;
  }
  .col-lg-5-6 {
    width: 83.33333333%;
  }
  .push-lg-5-6 {
    left: 83.33333333%;
  }
  .pull-lg-5-6 {
    right: 83.33333333%;
  }
  .col-lg-1-7 {
    width: 14.28571429%;
  }
  .push-lg-1-7 {
    left: 14.28571429%;
  }
  .pull-lg-1-7 {
    right: 14.28571429%;
  }
  .col-lg-2-7 {
    width: 28.57142857%;
  }
  .push-lg-2-7 {
    left: 28.57142857%;
  }
  .pull-lg-2-7 {
    right: 28.57142857%;
  }
  .col-lg-3-7 {
    width: 42.85714286%;
  }
  .push-lg-3-7 {
    left: 42.85714286%;
  }
  .pull-lg-3-7 {
    right: 42.85714286%;
  }
  .col-lg-4-7 {
    width: 57.14285714%;
  }
  .push-lg-4-7 {
    left: 57.14285714%;
  }
  .pull-lg-4-7 {
    right: 57.14285714%;
  }
  .col-lg-5-7 {
    width: 71.42857143%;
  }
  .push-lg-5-7 {
    left: 71.42857143%;
  }
  .pull-lg-5-7 {
    right: 71.42857143%;
  }
  .col-lg-6-7 {
    width: 85.71428571%;
  }
  .push-lg-6-7 {
    left: 85.71428571%;
  }
  .pull-lg-6-7 {
    right: 85.71428571%;
  }
  .col-lg-1-8 {
    width: 12.5%;
  }
  .push-lg-1-8 {
    left: 12.5%;
  }
  .pull-lg-1-8 {
    right: 12.5%;
  }
  .col-lg-3-8 {
    width: 37.5%;
  }
  .push-lg-3-8 {
    left: 37.5%;
  }
  .pull-lg-3-8 {
    right: 37.5%;
  }
  .col-lg-5-8 {
    width: 62.5%;
  }
  .push-lg-5-8 {
    left: 62.5%;
  }
  .pull-lg-5-8 {
    right: 62.5%;
  }
  .col-lg-7-8 {
    width: 87.5%;
  }
  .push-lg-7-8 {
    left: 87.5%;
  }
  .pull-lg-7-8 {
    right: 87.5%;
  }
  .col-lg-1-9 {
    width: 11.11111111%;
  }
  .push-lg-1-9 {
    left: 11.11111111%;
  }
  .pull-lg-1-9 {
    right: 11.11111111%;
  }
  .col-lg-2-9 {
    width: 22.22222222%;
  }
  .push-lg-2-9 {
    left: 22.22222222%;
  }
  .pull-lg-2-9 {
    right: 22.22222222%;
  }
  .col-lg-4-9 {
    width: 44.44444444%;
  }
  .push-lg-4-9 {
    left: 44.44444444%;
  }
  .pull-lg-4-9 {
    right: 44.44444444%;
  }
  .col-lg-5-9 {
    width: 55.55555556%;
  }
  .push-lg-5-9 {
    left: 55.55555556%;
  }
  .pull-lg-5-9 {
    right: 55.55555556%;
  }
  .col-lg-7-9 {
    width: 77.77777778%;
  }
  .push-lg-7-9 {
    left: 77.77777778%;
  }
  .pull-lg-7-9 {
    right: 77.77777778%;
  }
  .col-lg-8-9 {
    width: 88.88888889%;
  }
  .push-lg-8-9 {
    left: 88.88888889%;
  }
  .pull-lg-8-9 {
    right: 88.88888889%;
  }
  .col-lg-1-10 {
    width: 10%;
  }
  .push-lg-1-10 {
    left: 10%;
  }
  .pull-lg-1-10 {
    right: 10%;
  }
  .col-lg-3-10 {
    width: 30%;
  }
  .push-lg-3-10 {
    left: 30%;
  }
  .pull-lg-3-10 {
    right: 30%;
  }
  .col-lg-7-10 {
    width: 70%;
  }
  .push-lg-7-10 {
    left: 70%;
  }
  .pull-lg-7-10 {
    right: 70%;
  }
  .col-lg-9-10 {
    width: 90%;
  }
  .push-lg-9-10 {
    left: 90%;
  }
  .pull-lg-9-10 {
    right: 90%;
  }
  .col-lg-1-11 {
    width: 9.09090909%;
  }
  .push-lg-1-11 {
    left: 9.09090909%;
  }
  .pull-lg-1-11 {
    right: 9.09090909%;
  }
  .col-lg-2-11 {
    width: 18.18181818%;
  }
  .push-lg-2-11 {
    left: 18.18181818%;
  }
  .pull-lg-2-11 {
    right: 18.18181818%;
  }
  .col-lg-3-11 {
    width: 27.27272727%;
  }
  .push-lg-3-11 {
    left: 27.27272727%;
  }
  .pull-lg-3-11 {
    right: 27.27272727%;
  }
  .col-lg-4-11 {
    width: 36.36363636%;
  }
  .push-lg-4-11 {
    left: 36.36363636%;
  }
  .pull-lg-4-11 {
    right: 36.36363636%;
  }
  .col-lg-5-11 {
    width: 45.45454545%;
  }
  .push-lg-5-11 {
    left: 45.45454545%;
  }
  .pull-lg-5-11 {
    right: 45.45454545%;
  }
  .col-lg-6-11 {
    width: 54.54545455%;
  }
  .push-lg-6-11 {
    left: 54.54545455%;
  }
  .pull-lg-6-11 {
    right: 54.54545455%;
  }
  .col-lg-7-11 {
    width: 63.63636364%;
  }
  .push-lg-7-11 {
    left: 63.63636364%;
  }
  .pull-lg-7-11 {
    right: 63.63636364%;
  }
  .col-lg-8-11 {
    width: 72.72727273%;
  }
  .push-lg-8-11 {
    left: 72.72727273%;
  }
  .pull-lg-8-11 {
    right: 72.72727273%;
  }
  .col-lg-9-11 {
    width: 81.81818182%;
  }
  .push-lg-9-11 {
    left: 81.81818182%;
  }
  .pull-lg-9-11 {
    right: 81.81818182%;
  }
  .col-lg-10-11 {
    width: 90.90909091%;
  }
  .push-lg-10-11 {
    left: 90.90909091%;
  }
  .pull-lg-10-11 {
    right: 90.90909091%;
  }
  .col-lg-1-12 {
    width: 8.33333333%;
  }
  .push-lg-1-12 {
    left: 8.33333333%;
  }
  .pull-lg-1-12 {
    right: 8.33333333%;
  }
  .col-lg-5-12 {
    width: 41.66666667%;
  }
  .push-lg-5-12 {
    left: 41.66666667%;
  }
  .pull-lg-5-12 {
    right: 41.66666667%;
  }
  .col-lg-7-12 {
    width: 58.33333333%;
  }
  .push-lg-7-12 {
    left: 58.33333333%;
  }
  .pull-lg-7-12 {
    right: 58.33333333%;
  }
  .col-lg-11-12 {
    width: 91.66666667%;
  }
  .push-lg-11-12 {
    left: 91.66666667%;
  }
  .pull-lg-11-12 {
    right: 91.66666667%;
  }
  .col-lg-1-13 {
    width: 7.69230769%;
  }
  .push-lg-1-13 {
    left: 7.69230769%;
  }
  .pull-lg-1-13 {
    right: 7.69230769%;
  }
  .col-lg-2-13 {
    width: 15.38461538%;
  }
  .push-lg-2-13 {
    left: 15.38461538%;
  }
  .pull-lg-2-13 {
    right: 15.38461538%;
  }
  .col-lg-3-13 {
    width: 23.07692308%;
  }
  .push-lg-3-13 {
    left: 23.07692308%;
  }
  .pull-lg-3-13 {
    right: 23.07692308%;
  }
  .col-lg-4-13 {
    width: 30.76923077%;
  }
  .push-lg-4-13 {
    left: 30.76923077%;
  }
  .pull-lg-4-13 {
    right: 30.76923077%;
  }
  .col-lg-5-13 {
    width: 38.46153846%;
  }
  .push-lg-5-13 {
    left: 38.46153846%;
  }
  .pull-lg-5-13 {
    right: 38.46153846%;
  }
  .col-lg-6-13 {
    width: 46.15384615%;
  }
  .push-lg-6-13 {
    left: 46.15384615%;
  }
  .pull-lg-6-13 {
    right: 46.15384615%;
  }
  .col-lg-7-13 {
    width: 53.84615385%;
  }
  .push-lg-7-13 {
    left: 53.84615385%;
  }
  .pull-lg-7-13 {
    right: 53.84615385%;
  }
  .col-lg-8-13 {
    width: 61.53846154%;
  }
  .push-lg-8-13 {
    left: 61.53846154%;
  }
  .pull-lg-8-13 {
    right: 61.53846154%;
  }
  .col-lg-9-13 {
    width: 69.23076923%;
  }
  .push-lg-9-13 {
    left: 69.23076923%;
  }
  .pull-lg-9-13 {
    right: 69.23076923%;
  }
  .col-lg-10-13 {
    width: 76.92307692%;
  }
  .push-lg-10-13 {
    left: 76.92307692%;
  }
  .pull-lg-10-13 {
    right: 76.92307692%;
  }
  .col-lg-11-13 {
    width: 84.61538462%;
  }
  .push-lg-11-13 {
    left: 84.61538462%;
  }
  .pull-lg-11-13 {
    right: 84.61538462%;
  }
  .col-lg-12-13 {
    width: 92.30769231%;
  }
  .push-lg-12-13 {
    left: 92.30769231%;
  }
  .pull-lg-12-13 {
    right: 92.30769231%;
  }
  .col-lg-1-14 {
    width: 7.14285714%;
  }
  .push-lg-1-14 {
    left: 7.14285714%;
  }
  .pull-lg-1-14 {
    right: 7.14285714%;
  }
  .col-lg-3-14 {
    width: 21.42857143%;
  }
  .push-lg-3-14 {
    left: 21.42857143%;
  }
  .pull-lg-3-14 {
    right: 21.42857143%;
  }
  .col-lg-5-14 {
    width: 35.71428571%;
  }
  .push-lg-5-14 {
    left: 35.71428571%;
  }
  .pull-lg-5-14 {
    right: 35.71428571%;
  }
  .col-lg-9-14 {
    width: 64.28571429%;
  }
  .push-lg-9-14 {
    left: 64.28571429%;
  }
  .pull-lg-9-14 {
    right: 64.28571429%;
  }
  .col-lg-11-14 {
    width: 78.57142857%;
  }
  .push-lg-11-14 {
    left: 78.57142857%;
  }
  .pull-lg-11-14 {
    right: 78.57142857%;
  }
  .col-lg-13-14 {
    width: 92.85714286%;
  }
  .push-lg-13-14 {
    left: 92.85714286%;
  }
  .pull-lg-13-14 {
    right: 92.85714286%;
  }
}
.table-xs {
  margin: 0 -15px;
}
.table-xs > .row {
  display: table;
  margin: 0;
  width: 100%;
}
.table-xs > .row > [class|="col"] {
  display: table-cell;
}
@media (min-width: 768px) {
  .table-sm {
    margin: 0 -15px;
  }
  .table-sm > .row {
    display: table;
    margin: 0;
    width: 100%;
  }
  .table-sm > .row > [class|="col"] {
    display: table-cell;
  }
}
@media (min-width: 1024px) {
  .table-md {
    margin: 0 -15px;
  }
  .table-md > .row {
    display: table;
    margin: 0;
    width: 100%;
  }
  .table-md > .row > [class|="col"] {
    display: table-cell;
  }
}
@media (min-width: 1440px) {
  .table-lg {
    margin: 0 -15px;
  }
  .table-lg > .row {
    display: table;
    margin: 0;
    width: 100%;
  }
  .table-lg > .row > [class|="col"] {
    display: table-cell;
  }
}

/**
	Other components
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.vcenter:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vcenter > * {
  vertical-align: middle;
}
.navbar {
  height: 2.75em;
  z-index: 1000;
}
.navbar .container,
.navbar .container-fluid {
  padding: 0;
  height: 100%;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 767px) {
  .navbar {
    height: auto;
  }
}
.navbar-fixed {
  position: fixed;
  width: 100%;
}
.navbar-header {
  display: inline;
}
@media (max-width: 767px) {
  .navbar-header {
    height: 2.75em;
    display: block;
  }
}
.navbar-toggle {
  display: none;
  margin-right: 15px;
  padding: 0;
  width: 2em;
  height: 2em;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle:first-line {
  font-size: 200%;
  line-height: 1;
}
@media (max-width: 767px) {
  .navbar-toggle {
    display: inline-block;
  }
}
.navbar-col,
.navbar-link,
.navbar-header .navbar-form,
.navbar-brand,
.navbar-nav a {
  display: block;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1020;
}
.navbar-col:before,
.navbar-link:before,
.navbar-header .navbar-form:before,
.navbar-brand:before,
.navbar-nav a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.navbar-col > *,
.navbar-link > *,
.navbar-header .navbar-form > *,
.navbar-brand > *,
.navbar-nav a > * {
  vertical-align: middle;
}
.navbar-link,
.navbar-brand,
.navbar-nav a {
  padding: 0 15px;
  text-decoration: none;
}
.navbar-link:link,
.navbar-link:visited,
.navbar-link:hover,
.navbar-link:hover,
.navbar-brand:link,
.navbar-brand:visited,
.navbar-brand:hover,
.navbar-brand:hover,
.navbar-nav a:link,
.navbar-nav a:visited,
.navbar-nav a:hover,
.navbar-nav a:hover {
  color: inherit;
}
.navbar-nav {
  display: block;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}
.navbar-nav li {
  display: inline;
  padding: 0;
  margin: 0;
}
.navbar-header .navbar-form {
  padding: 0 15px;
}
.navbar-header .navbar-form input,
.navbar-header .navbar-form select,
.navbar-header .navbar-form .radio,
.navbar-header .navbar-form .checkbox,
.navbar-header .navbar-form fieldset {
  display: inline-block;
  width: auto;
  margin: 0;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-form {
    padding: 0 15px;
    display: block;
    float: left;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1020;
  }
  .navbar-collapse .navbar-form:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .navbar-collapse .navbar-form > * {
    vertical-align: middle;
  }
  .navbar-collapse .navbar-form input,
  .navbar-collapse .navbar-form select,
  .navbar-collapse .navbar-form .radio,
  .navbar-collapse .navbar-form .checkbox,
  .navbar-collapse .navbar-form fieldset {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}
.navbar-collapse {
  display: inline;
}
@media (max-width: 767px) {
  .navbar-collapse {
    display: block;
    clear: both;
    overflow: hidden;
  }
  .navbar-collapse.collapse {
    display: none;
  }
  .navbar-collapse .navbar-nav,
  .navbar-collapse .navbar-nav li,
  .navbar-collapse .navbar-nav a,
  .navbar-collapse .navbar-form {
    display: block;
    float: none;
  }
  .navbar-collapse .navbar-nav,
  .navbar-collapse .navbar-form {
    border-top: 1px solid #a3a3a3;
    background-color: #f2f2f2;
    padding: 0.25em 0;
    height: auto;
  }
  .navbar-collapse .navbar-nav:before,
  .navbar-collapse .navbar-form:before {
    display: none;
  }
  .navbar-collapse .navbar-nav a {
    padding: 0.375em 15px;
  }
  .navbar-collapse .navbar-form {
    padding: 15px;
    margin: 0;
  }
  .navbar-collapse .navbar-form > input,
  .navbar-collapse .navbar-form select {
    display: block;
    width: 100%;
  }
}
.sidebar {
  top: 0;
  left: 100%;
  z-index: 1100;
  padding: 0;
}
.sidebar-toggle {
  display: none;
  position: absolute;
  top: 17%;
  right: 100%;
  width: 1.7em;
  height: 2em;
  line-height: 2;
  text-align: center;
  z-index: 1090;
  padding: 0;
  margin: 0;
}
.sidebar-toggle:before {
  content: "«";
}
.sidebar-content {
  position: relative;
  z-index: 1110;
}
@media (max-width: 768px) {
  .sidebar-sm {
    position: fixed;
    width: 320px;
    height: 100%;
    border-left: 1px solid #a3a3a3;
  }
  .sidebar-sm.expand {
    right: 0;
    left: auto;
  }
  .sidebar-sm.expand .sidebar-toggle:before {
    content: "»";
  }
  .sidebar-sm .sidebar-toggle {
    display: block;
  }
  .sidebar-sm .sidebar-content {
    height: 100%;
    background-color: white;
    padding: 0 15px;
    overflow: auto;
  }
}
@media (max-width: 1024px) {
  .sidebar-md {
    position: fixed;
    width: 320px;
    height: 100%;
    border-left: 1px solid #a3a3a3;
  }
  .sidebar-md.expand {
    right: 0;
    left: auto;
  }
  .sidebar-md.expand .sidebar-toggle:before {
    content: "»";
  }
  .sidebar-md .sidebar-toggle {
    display: block;
  }
  .sidebar-md .sidebar-content {
    height: 100%;
    background-color: white;
    padding: 0 15px;
    overflow: auto;
  }
}
@media (max-width: 1440px) {
  .sidebar-lg {
    position: fixed;
    width: 320px;
    height: 100%;
    border-left: 1px solid #a3a3a3;
  }
  .sidebar-lg.expand {
    right: 0;
    left: auto;
  }
  .sidebar-lg.expand .sidebar-toggle:before {
    content: "»";
  }
  .sidebar-lg .sidebar-toggle {
    display: block;
  }
  .sidebar-lg .sidebar-content {
    height: 100%;
    background-color: white;
    padding: 0 15px;
    overflow: auto;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.right-xs {
  float: right;
}
.left-xs {
  float: left;
}
img.left-xs {
  margin: 0.25em 1em 0.25em 0;
}
img.right-xs {
  margin: 0.25em 0 0.25em 1em;
}
@media (min-width: 768px) {
  .right-sm {
    float: right;
  }
  .left-sm {
    float: left;
  }
  img.left-sm {
    margin: 0.25em 1em 0.25em 0;
  }
  img.right-sm {
    margin: 0.25em 0 0.25em 1em;
  }
}
@media (min-width: 1024px) {
  .right-md {
    float: right;
  }
  .left-md {
    float: left;
  }
  img.left-md {
    margin: 0.25em 1em 0.25em 0;
  }
  img.right-md {
    margin: 0.25em 0 0.25em 1em;
  }
}
@media (min-width: 1440px) {
  .right-lg {
    float: right;
  }
  .left-lg {
    float: left;
  }
  img.left-lg {
    margin: 0.25em 1em 0.25em 0;
  }
  img.right-lg {
    margin: 0.25em 0 0.25em 1em;
  }
}
.blackboard {
  background-color: #3d3d3d;
  color: #f2f2f2;
  padding: 1.5em 0;
}
.blackboard-head {
  margin: 0;
  line-height: 1;
  font-size: 200%;
  text-align: center;
}
.blackboard-body {
  color: #d4d4d4;
}
.blackboard-side {
  font-size: 75%;
  color: #d4d4d4;
}
@media (min-width: 768px) {
  .blackboard {
    margin: 0 0 1em;
    padding: 4.5em 0 4em;
  }
  .blackboard .row {
    align-items: center;
  }
  .blackboard .row > * {
    vertical-align: middle;
  }
  .blackboard-head {
    font-size: 360%;
    text-align: left;
  }
  .blackboard-body {
    font-size: 150%;
    color: #d4d4d4;
    font-weight: lighter;
  }
  .blackboard-side {
    padding: 1em;
    font-size: 80%;
  }
}
.collapsing {
  transition: 0.4s all ease;
}
.block-xs {
  display: block;
}
.inline-xs {
  display: inline;
}
.inline-block-xs {
  display: inline-block;
}
.none-xs {
  display: none;
}
@media (min-width: 768px) {
  .block-sm {
    display: block;
  }
  .inline-sm {
    display: inline;
  }
  .inline-block-sm {
    display: inline-block;
  }
  .none-sm {
    display: none;
  }
}
@media (min-width: 1024px) {
  .block-md {
    display: block;
  }
  .inline-md {
    display: inline;
  }
  .inline-block-md {
    display: inline-block;
  }
  .none-md {
    display: none;
  }
}
@media (min-width: 1024px) {
  .block-lg {
    display: block;
  }
  .inline-lg {
    display: inline;
  }
  .inline-block-lg {
    display: inline-block;
  }
  .none-lg {
    display: none;
  }
}
.clear {
  clear: both;
}
