*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.55;
  color: #333333;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
a,
a:link {
  color: #6bba38;
}
a:visited {
  color: #54932d;
}
a:hover {
  color: #86cd59;
}
a:active {
  color: #54932d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0 15px;
}
h2 {
  border-bottom: 1px solid #666666;
}
p {
  margin: 15px 0;
}
::selection {
  background-color: rgba(255, 169, 46, 0.4);
}
::-moz-selection {
  background-color: rgba(255, 169, 46, 0.4);
}
.container-fluid,
.container,
.container {
  padding: 0 15px;
}
.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
[class|="row"] {
  margin-left: -15px;
  margin-right: -15px;
  background: red;
}
[class|="row"] > [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  background: orange;
}
.row-bottom > [class|="row"] > [class*="col-"] {
  vertical-align: bottom;
}
.row-middle > [class|="row"] > [class*="col-"] {
  vertical-align: middle;
}
.row-5 > .col-xs-1 {
  width: 20%;
}
.row-5 > .col-xs-2 {
  width: 40%;
}
.row-5 > .col-xs-3 {
  width: 60%;
}
.row-5 > .col-xs-4 {
  width: 80%;
}
.row-5 > .col-xs-5 {
  width: 100%;
}
@media (min-width: 768px) {
  .row-5 > .col-sm-1 {
    width: 20%;
  }
  .row-5 > .col-sm-2 {
    width: 40%;
  }
  .row-5 > .col-sm-3 {
    width: 60%;
  }
  .row-5 > .col-sm-4 {
    width: 80%;
  }
  .row-5 > .col-sm-5 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .row-5 > .col-md-1 {
    width: 20%;
  }
  .row-5 > .col-md-2 {
    width: 40%;
  }
  .row-5 > .col-md-3 {
    width: 60%;
  }
  .row-5 > .col-md-4 {
    width: 80%;
  }
  .row-5 > .col-md-5 {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .row-5 > .col-lg-1 {
    width: 20%;
  }
  .row-5 > .col-lg-2 {
    width: 40%;
  }
  .row-5 > .col-lg-3 {
    width: 60%;
  }
  .row-5 > .col-lg-4 {
    width: 80%;
  }
  .row-5 > .col-lg-5 {
    width: 100%;
  }
}
.row-7 > .col-xs-1 {
  width: 14.28571429%;
}
.row-7 > .col-xs-2 {
  width: 28.57142857%;
}
.row-7 > .col-xs-3 {
  width: 42.85714286%;
}
.row-7 > .col-xs-4 {
  width: 57.14285714%;
}
.row-7 > .col-xs-5 {
  width: 71.42857143%;
}
.row-7 > .col-xs-6 {
  width: 85.71428571%;
}
.row-7 > .col-xs-7 {
  width: 100%;
}
@media (min-width: 768px) {
  .row-7 > .col-sm-1 {
    width: 14.28571429%;
  }
  .row-7 > .col-sm-2 {
    width: 28.57142857%;
  }
  .row-7 > .col-sm-3 {
    width: 42.85714286%;
  }
  .row-7 > .col-sm-4 {
    width: 57.14285714%;
  }
  .row-7 > .col-sm-5 {
    width: 71.42857143%;
  }
  .row-7 > .col-sm-6 {
    width: 85.71428571%;
  }
  .row-7 > .col-sm-7 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .row-7 > .col-md-1 {
    width: 14.28571429%;
  }
  .row-7 > .col-md-2 {
    width: 28.57142857%;
  }
  .row-7 > .col-md-3 {
    width: 42.85714286%;
  }
  .row-7 > .col-md-4 {
    width: 57.14285714%;
  }
  .row-7 > .col-md-5 {
    width: 71.42857143%;
  }
  .row-7 > .col-md-6 {
    width: 85.71428571%;
  }
  .row-7 > .col-md-7 {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .row-7 > .col-lg-1 {
    width: 14.28571429%;
  }
  .row-7 > .col-lg-2 {
    width: 28.57142857%;
  }
  .row-7 > .col-lg-3 {
    width: 42.85714286%;
  }
  .row-7 > .col-lg-4 {
    width: 57.14285714%;
  }
  .row-7 > .col-lg-5 {
    width: 71.42857143%;
  }
  .row-7 > .col-lg-6 {
    width: 85.71428571%;
  }
  .row-7 > .col-lg-7 {
    width: 100%;
  }
}
.row-12 > .col-xs-1 {
  width: 8.33333333%;
}
.row-12 > .col-xs-2 {
  width: 16.66666667%;
}
.row-12 > .col-xs-3 {
  width: 25%;
}
.row-12 > .col-xs-4 {
  width: 33.33333333%;
}
.row-12 > .col-xs-5 {
  width: 41.66666667%;
}
.row-12 > .col-xs-6 {
  width: 50%;
}
.row-12 > .col-xs-7 {
  width: 58.33333333%;
}
.row-12 > .col-xs-8 {
  width: 66.66666667%;
}
.row-12 > .col-xs-9 {
  width: 75%;
}
.row-12 > .col-xs-10 {
  width: 83.33333333%;
}
.row-12 > .col-xs-11 {
  width: 91.66666667%;
}
.row-12 > .col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .row-12 > .col-sm-1 {
    width: 8.33333333%;
  }
  .row-12 > .col-sm-2 {
    width: 16.66666667%;
  }
  .row-12 > .col-sm-3 {
    width: 25%;
  }
  .row-12 > .col-sm-4 {
    width: 33.33333333%;
  }
  .row-12 > .col-sm-5 {
    width: 41.66666667%;
  }
  .row-12 > .col-sm-6 {
    width: 50%;
  }
  .row-12 > .col-sm-7 {
    width: 58.33333333%;
  }
  .row-12 > .col-sm-8 {
    width: 66.66666667%;
  }
  .row-12 > .col-sm-9 {
    width: 75%;
  }
  .row-12 > .col-sm-10 {
    width: 83.33333333%;
  }
  .row-12 > .col-sm-11 {
    width: 91.66666667%;
  }
  .row-12 > .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .row-12 > .col-md-1 {
    width: 8.33333333%;
  }
  .row-12 > .col-md-2 {
    width: 16.66666667%;
  }
  .row-12 > .col-md-3 {
    width: 25%;
  }
  .row-12 > .col-md-4 {
    width: 33.33333333%;
  }
  .row-12 > .col-md-5 {
    width: 41.66666667%;
  }
  .row-12 > .col-md-6 {
    width: 50%;
  }
  .row-12 > .col-md-7 {
    width: 58.33333333%;
  }
  .row-12 > .col-md-8 {
    width: 66.66666667%;
  }
  .row-12 > .col-md-9 {
    width: 75%;
  }
  .row-12 > .col-md-10 {
    width: 83.33333333%;
  }
  .row-12 > .col-md-11 {
    width: 91.66666667%;
  }
  .row-12 > .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .row-12 > .col-lg-1 {
    width: 8.33333333%;
  }
  .row-12 > .col-lg-2 {
    width: 16.66666667%;
  }
  .row-12 > .col-lg-3 {
    width: 25%;
  }
  .row-12 > .col-lg-4 {
    width: 33.33333333%;
  }
  .row-12 > .col-lg-5 {
    width: 41.66666667%;
  }
  .row-12 > .col-lg-6 {
    width: 50%;
  }
  .row-12 > .col-lg-7 {
    width: 58.33333333%;
  }
  .row-12 > .col-lg-8 {
    width: 66.66666667%;
  }
  .row-12 > .col-lg-9 {
    width: 75%;
  }
  .row-12 > .col-lg-10 {
    width: 83.33333333%;
  }
  .row-12 > .col-lg-11 {
    width: 91.66666667%;
  }
  .row-12 > .col-lg-12 {
    width: 100%;
  }
}
.row > .col-xs-1 {
  width: 8.33333333%;
}
.row > .col-xs-2 {
  width: 16.66666667%;
}
.row > .col-xs-3 {
  width: 25%;
}
.row > .col-xs-4 {
  width: 33.33333333%;
}
.row > .col-xs-5 {
  width: 41.66666667%;
}
.row > .col-xs-6 {
  width: 50%;
}
.row > .col-xs-7 {
  width: 58.33333333%;
}
.row > .col-xs-8 {
  width: 66.66666667%;
}
.row > .col-xs-9 {
  width: 75%;
}
.row > .col-xs-10 {
  width: 83.33333333%;
}
.row > .col-xs-11 {
  width: 91.66666667%;
}
.row > .col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .row > .col-sm-1 {
    width: 8.33333333%;
  }
  .row > .col-sm-2 {
    width: 16.66666667%;
  }
  .row > .col-sm-3 {
    width: 25%;
  }
  .row > .col-sm-4 {
    width: 33.33333333%;
  }
  .row > .col-sm-5 {
    width: 41.66666667%;
  }
  .row > .col-sm-6 {
    width: 50%;
  }
  .row > .col-sm-7 {
    width: 58.33333333%;
  }
  .row > .col-sm-8 {
    width: 66.66666667%;
  }
  .row > .col-sm-9 {
    width: 75%;
  }
  .row > .col-sm-10 {
    width: 83.33333333%;
  }
  .row > .col-sm-11 {
    width: 91.66666667%;
  }
  .row > .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .row > .col-md-1 {
    width: 8.33333333%;
  }
  .row > .col-md-2 {
    width: 16.66666667%;
  }
  .row > .col-md-3 {
    width: 25%;
  }
  .row > .col-md-4 {
    width: 33.33333333%;
  }
  .row > .col-md-5 {
    width: 41.66666667%;
  }
  .row > .col-md-6 {
    width: 50%;
  }
  .row > .col-md-7 {
    width: 58.33333333%;
  }
  .row > .col-md-8 {
    width: 66.66666667%;
  }
  .row > .col-md-9 {
    width: 75%;
  }
  .row > .col-md-10 {
    width: 83.33333333%;
  }
  .row > .col-md-11 {
    width: 91.66666667%;
  }
  .row > .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .row > .col-lg-1 {
    width: 8.33333333%;
  }
  .row > .col-lg-2 {
    width: 16.66666667%;
  }
  .row > .col-lg-3 {
    width: 25%;
  }
  .row > .col-lg-4 {
    width: 33.33333333%;
  }
  .row > .col-lg-5 {
    width: 41.66666667%;
  }
  .row > .col-lg-6 {
    width: 50%;
  }
  .row > .col-lg-7 {
    width: 58.33333333%;
  }
  .row > .col-lg-8 {
    width: 66.66666667%;
  }
  .row > .col-lg-9 {
    width: 75%;
  }
  .row > .col-lg-10 {
    width: 83.33333333%;
  }
  .row > .col-lg-11 {
    width: 91.66666667%;
  }
  .row > .col-lg-12 {
    width: 100%;
  }
}
.stack > .col-xs-1 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
}
.stack > .col-xs-2 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
}
.stack > .col-xs-3 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
}
.stack > .col-xs-4 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
}
.stack > .col-xs-5 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
}
.stack > .col-xs-6 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
}
.stack > .col-xs-7 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
}
.stack > .col-xs-8 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
}
.stack > .col-xs-9 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
}
.stack > .col-xs-10 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
}
.stack > .col-xs-11 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
}
.stack > .col-xs-12 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
}
@media (min-width: 768px) {
  .stack > .col-sm-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack > .col-sm-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack > .col-sm-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack > .col-sm-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack > .col-sm-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack > .col-sm-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack > .col-sm-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack > .col-sm-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack > .col-sm-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack > .col-sm-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack > .col-sm-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack > .col-sm-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
@media (min-width: 1024px) {
  .stack > .col-md-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack > .col-md-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack > .col-md-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack > .col-md-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack > .col-md-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack > .col-md-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack > .col-md-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack > .col-md-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack > .col-md-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack > .col-md-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack > .col-md-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack > .col-md-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
@media (min-width: 1440px) {
  .stack > .col-lg-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack > .col-lg-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack > .col-lg-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack > .col-lg-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack > .col-lg-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack > .col-lg-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack > .col-lg-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack > .col-lg-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack > .col-lg-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack > .col-lg-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack > .col-lg-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack > .col-lg-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
.stack-5 > .col-xs-1 {
  width: calc((100% - ((5 - 1) * 15px * 2)) * 1 / 5 + (1 - 1) * 15px * 2);
}
.stack-5 > .col-xs-2 {
  width: calc((100% - ((5 - 1) * 15px * 2)) * 2 / 5 + (2 - 1) * 15px * 2);
}
.stack-5 > .col-xs-3 {
  width: calc((100% - ((5 - 1) * 15px * 2)) * 3 / 5 + (3 - 1) * 15px * 2);
}
.stack-5 > .col-xs-4 {
  width: calc((100% - ((5 - 1) * 15px * 2)) * 4 / 5 + (4 - 1) * 15px * 2);
}
.stack-5 > .col-xs-5 {
  width: calc((100% - ((5 - 1) * 15px * 2)) * 5 / 5 + (5 - 1) * 15px * 2);
}
@media (min-width: 768px) {
  .stack-5 > .col-sm-1 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 1 / 5 + (1 - 1) * 15px * 2);
  }
  .stack-5 > .col-sm-2 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 2 / 5 + (2 - 1) * 15px * 2);
  }
  .stack-5 > .col-sm-3 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 3 / 5 + (3 - 1) * 15px * 2);
  }
  .stack-5 > .col-sm-4 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 4 / 5 + (4 - 1) * 15px * 2);
  }
  .stack-5 > .col-sm-5 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 5 / 5 + (5 - 1) * 15px * 2);
  }
}
@media (min-width: 1024px) {
  .stack-5 > .col-md-1 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 1 / 5 + (1 - 1) * 15px * 2);
  }
  .stack-5 > .col-md-2 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 2 / 5 + (2 - 1) * 15px * 2);
  }
  .stack-5 > .col-md-3 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 3 / 5 + (3 - 1) * 15px * 2);
  }
  .stack-5 > .col-md-4 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 4 / 5 + (4 - 1) * 15px * 2);
  }
  .stack-5 > .col-md-5 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 5 / 5 + (5 - 1) * 15px * 2);
  }
}
@media (min-width: 1440px) {
  .stack-5 > .col-lg-1 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 1 / 5 + (1 - 1) * 15px * 2);
  }
  .stack-5 > .col-lg-2 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 2 / 5 + (2 - 1) * 15px * 2);
  }
  .stack-5 > .col-lg-3 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 3 / 5 + (3 - 1) * 15px * 2);
  }
  .stack-5 > .col-lg-4 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 4 / 5 + (4 - 1) * 15px * 2);
  }
  .stack-5 > .col-lg-5 {
    width: calc((100% - ((5 - 1) * 15px * 2)) * 5 / 5 + (5 - 1) * 15px * 2);
  }
}
.stack-7 > .col-xs-1 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 1 / 7 + (1 - 1) * 15px * 2);
}
.stack-7 > .col-xs-2 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 2 / 7 + (2 - 1) * 15px * 2);
}
.stack-7 > .col-xs-3 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 3 / 7 + (3 - 1) * 15px * 2);
}
.stack-7 > .col-xs-4 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 4 / 7 + (4 - 1) * 15px * 2);
}
.stack-7 > .col-xs-5 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 5 / 7 + (5 - 1) * 15px * 2);
}
.stack-7 > .col-xs-6 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 6 / 7 + (6 - 1) * 15px * 2);
}
.stack-7 > .col-xs-7 {
  width: calc((100% - ((7 - 1) * 15px * 2)) * 7 / 7 + (7 - 1) * 15px * 2);
}
@media (min-width: 768px) {
  .stack-7 > .col-sm-1 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 1 / 7 + (1 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-2 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 2 / 7 + (2 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-3 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 3 / 7 + (3 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-4 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 4 / 7 + (4 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-5 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 5 / 7 + (5 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-6 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 6 / 7 + (6 - 1) * 15px * 2);
  }
  .stack-7 > .col-sm-7 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 7 / 7 + (7 - 1) * 15px * 2);
  }
}
@media (min-width: 1024px) {
  .stack-7 > .col-md-1 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 1 / 7 + (1 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-2 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 2 / 7 + (2 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-3 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 3 / 7 + (3 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-4 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 4 / 7 + (4 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-5 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 5 / 7 + (5 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-6 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 6 / 7 + (6 - 1) * 15px * 2);
  }
  .stack-7 > .col-md-7 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 7 / 7 + (7 - 1) * 15px * 2);
  }
}
@media (min-width: 1440px) {
  .stack-7 > .col-lg-1 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 1 / 7 + (1 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-2 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 2 / 7 + (2 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-3 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 3 / 7 + (3 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-4 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 4 / 7 + (4 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-5 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 5 / 7 + (5 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-6 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 6 / 7 + (6 - 1) * 15px * 2);
  }
  .stack-7 > .col-lg-7 {
    width: calc((100% - ((7 - 1) * 15px * 2)) * 7 / 7 + (7 - 1) * 15px * 2);
  }
}
.stack-12 > .col-xs-1 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
}
.stack-12 > .col-xs-2 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
}
.stack-12 > .col-xs-3 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
}
.stack-12 > .col-xs-4 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
}
.stack-12 > .col-xs-5 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
}
.stack-12 > .col-xs-6 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
}
.stack-12 > .col-xs-7 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
}
.stack-12 > .col-xs-8 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
}
.stack-12 > .col-xs-9 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
}
.stack-12 > .col-xs-10 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
}
.stack-12 > .col-xs-11 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
}
.stack-12 > .col-xs-12 {
  width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
}
@media (min-width: 768px) {
  .stack-12 > .col-sm-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack-12 > .col-sm-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
@media (min-width: 1024px) {
  .stack-12 > .col-md-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack-12 > .col-md-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
@media (min-width: 1440px) {
  .stack-12 > .col-lg-1 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 1 / 12 + (1 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-2 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 2 / 12 + (2 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-3 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 3 / 12 + (3 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-4 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 4 / 12 + (4 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-5 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 5 / 12 + (5 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-6 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 6 / 12 + (6 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-7 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 7 / 12 + (7 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-8 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 8 / 12 + (8 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-9 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 9 / 12 + (9 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-10 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 10 / 12 + (10 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-11 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 11 / 12 + (11 - 1) * 15px * 2);
  }
  .stack-12 > .col-lg-12 {
    width: calc((100% - ((12 - 1) * 15px * 2)) * 12 / 12 + (12 - 1) * 15px * 2);
  }
}
[class|="stack"] {
  text-align: justify;
  line-height: 0;
  background: silver;
}
[class|="stack"]:after {
  content: ".";
  display: inline-block;
  width: 100%;
  visibility: hidden;
}
[class|="stack"] > [class*="col-"] {
  line-height: 1.55;
  vertical-align: top;
  background: grey;
}
[class*="col-xs-"] {
  display: inline-block;
}
@media (min-width: 768px) {
  [class*="col-sm-"] {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  [class*="col-md-"] {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  [class*="col-lg-"] {
    display: inline-block;
  }
}
