// My extend apart from bootstrap

// vars
@gap: 15px;
@grids: 5, 7, 12;
@line-height: 1.55;

@window-sm: 768px;
@window-md: 1024px;
@window-lg: 1440px;
@window-xl: 1920px;

@color: lighten(black, 24%);
@color-bg: darken(white, 5%);
@border: lighten(@color, 40%);
@highlight: #ffa92e;

@font-family-sans:  "Helvetica Neue", Helvetica, Arial, "微軟正黑體", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, "新細明體", serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", "細明體", monospace;
@font-family-base:        @font-family-sans;

@font-size: 16px;

// normalize
* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-size: @font-size;
	font-family: @font-family-base;
	line-height: @line-height;
	color: @color;
}

a {
	text-decoration: none;
	border-bottom: 1px dashed;
	@link-color: lighten(@color, 35%);
	
	&,
	&:link {
		color: @link-color;
	}
	&:visited {
		color: darken(@link-color, 10%);
	}
	&:hover {
		color: lighten(@link-color, 10%);
	}
	&:active {
		color: darken(@link-color, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: @gap*2 0 @gap;
	font-weight: 400;
	color: inherit;
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 215%;
	border-bottom: 1px solid @border;
}

h3 {
	font-size: 170%;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 100%;
}

h6 {
	font-size: 85%;
}

p {
	margin: @gap 0;
}

.td-padding () {
	padding: 0.24em 1.04em;
}

table {
	border-collapse: collapse;
	border: 1px solid @border;
}

thead {
	th, td {
		border-bottom: 1px solid @border;
		border-left: 1px solid @border;
		
		&:first-child {
			border-left: none;
		}
	}
}

tbody {
	th, td {
		border-left: 1px solid @border;
		
		&:first-child {
			border-left: none;
		}
	}
}

th, td {
	.td-padding();
}

th {
	background-color: @color-bg;
}

.table-responsive {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
	border: 1px solid @border;
	
	table {
		border: none;
	}
	
	td {
		white-space: pre-line;
	}
	
	th:last-child,
	td:last-child {
		border-right: none;
	}
}

form {
	display: block;
	margin: @gap 0;
}

.form-control {
	display: block;
	height: 2em;
	margin: 0.25em 0 1em;
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	border: 1px solid @border;
	border-radius: 0.1875em;
	padding: 0 0.5em;
	
	&:hover,
	&:focus,
	&:active {
		border-color: lighten(@border, 17%);
	}
}

input, select {
	&:extend(.form-control all);
}

select[multiple] {
	height: auto;
}

textarea:extend(.form-control all) {
	height: auto;
	padding-top: 0.5em;
}

.btn,
button,
input[type="button"], 
input[type="submit"], 
input[type="reset"] {
	&:extend(.form-control);
	
	background-color: @color-bg;
	display: inline-block;
	width: auto;
	margin: 0 0.5em 0 0;
	min-width: 4.56em;
	text-align: center;
	color: inherit;
	vertical-align: middle;
	cursor: pointer;
	
	// Firefox button fix: http://davidwalsh.name/firefox-buttons
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	// overwrite a's pseudo
	&:link,
	&:visited,
	&:hover,
	&:active {
		color: inherit;
	}
	
	&:hover,
	&:focus {
		background-color: lighten(@color-bg, 3%);
	}
	&:active,
	&.active {
		background-color: lighten(@color-bg, 3%);
		box-shadow: inset 0.12em 0.12em 1em darken(@color-bg, 7%); 
	}	
	
	&:focus {
		outline: thin dotted;
		outline-offset: -2px;
	}
}

fieldset {
	margin: @gap 0;
	padding: 0;
	border: none;
}

legend {
	padding: 0;
}

.radio, .checkbox {
	label {
		display: inline-block;
		position: relative;
		padding-left: 1.5em;
		cursor: pointer;
		&:hover {
			color: lighten(@color, 17%);
		}
	}
	
	input[type="radio"],
	input[type="checkbox"] {
		color: inherit;
		position: absolute;
		border: none;
		padding: 0;
		width: auto;
		height: auto;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
	}
}



.btn-block {
	display: block;
	margin: @gap 0;
	
	& + & {
		margin-top: 0.4 * @gap;
	}
}

.btn-group {
	display: inline-block;
	// margin: 1em 0;
	border: 1px solid @border;
	border-radius: 0.1875em;
	overflow: hidden;
	
	// .clearfix();
	
	> * {
		display: block;
		float: left;
		margin: 0;
		border-width: 0 1px;
		border-radius: 0;
		margin-right: -1px;
		// border-bottom-left-radius: 0;
		
		&:first-child {
			margin-left: -1px;
		}
	}
}

img {
	margin: 0.24 * @gap;
	vertical-align: middle;
}

.highlight(){
	background-color: fade(@highlight, 40%);
}

::selection {
	.highlight();
}

::-moz-selection {
	.highlight();
}

// Grid system
// container
.container-fluid, .container {
	padding: 0 @gap;
}

.container:extend(.container-fluid) {
	margin: 0 auto;
	@media (min-width: @window-sm) {
		max-width: @window-sm;
	}
	@media (min-width: @window-md) {
		max-width: @window-md;
	}
	@media (min-width: @window-lg) {
		max-width: @window-lg;
	}
}

// row and columns
.row {
	margin-left: -@gap;
	margin-right: -@gap;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: -9999px;
}

[class|="col"] {
	padding-left: @gap;
	padding-right: @gap;
	vertical-align: top;
	letter-spacing: normal;
	width: 100%;
}

.row-top {
	align-items: flex-start;
	> * {
		vertical-align: top;
	}
}

.row-middle {
	align-items: center;
	> * {
		vertical-align: middle;
	}
}

.row-bottom {
	align-items: flex-end;
	> * {
		vertical-align: bottom;
	}
}

// chrome hack
// @media screen and (-webkit-min-device-pixel-ratio:0) {
	// .row {
		// letter-spacing: -0.3125em;
		// font-family: Arial;
	// }
	
	// [class|="col"] {
		// letter-spacing: normal;
		// font-family: @font-family-base;
	// }
// }

.make-cols-var(@columns, @size, @count) when (@count =< @columns) {
	.col-@{size}-@{count}-@{columns} {
		width: percentage(@count/@columns);
	}
	
	.make-cols-var(@columns, @size, @count + 1);
}

// set different row
.make-grid(@grids, @count) when (@count =< length(@grids)) {
	@grid: extract(@grids, @count);
	
	// .row-@{grid} {
		
	.make-cols-var(@grid, xs, 1);
	
	@media (min-width: @window-sm) {
		.make-cols-var(@grid, sm, 1);
	}
	
	@media (min-width: @window-md) {
		.make-cols-var(@grid, md, 1);
	}
	
	@media (min-width: @window-lg) {
		.make-cols-var(@grid, lg, 1);
	}
	// }
	
	.make-grid(@grids, @count + 1);
}
.make-grid(@grids, 1);

.col-grid() {
	display: inline-block;
}

[class*="col-xs-"] {
	.col-grid();
}

@media (min-width: @window-sm) {
	[class*="col-sm-"] {
		.col-grid();
	}
}

@media (min-width: @window-md) {
	[class*="col-md-"] {
		.col-grid();
	}
}

@media (min-width: @window-lg) {
	[class*="col-lg-"] {
		.col-grid();
	}
}

.make-table-var(xs);

@media (min-width: @window-sm) {
	.make-table-var(sm);
}

@media (min-width: @window-md) {
	.make-table-var(md);
}

@media (min-width: @window-lg) {
	.make-table-var(lg);
}

.make-table-var(@size) {
	.table-@{size} {
		.row();
		
		> [class|="row"] {
			display: table;
			margin: 0;
			width: 100%;
			border-collapse: collapse;
			
			> [class|="col"] {
				display: table-cell;
			}
		}
	}
}

img.right {
	margin-right: 0;
	margin-left: @gap;
}

img.left {
	margin-left: 0;
	margin-right: @gap;
}

article {
	.clearfix();
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.vcenter {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	
	> * {
		vertical-align: middle;
	}
}

@navbar-height: 2.75em;

.navbar {
	background-color: @color-bg;
	border-bottom: 1px solid @border;
	height: @navbar-height;
	z-index: 1000;
	box-sizing: content-box;
	
	.clearfix();
	
	.container, .container-fluid {
		padding: 0;
		height: 100%;
		// text-align: right;
		position: relative;
	}
}

.navbar-header {
	display: inline;
}

.navbar-collapse {
	display: inline;
}

.navbar-col {
	&:extend(.vcenter all);
	display: block;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1020;
}

.navbar-link:extend(.navbar-col) {
	border: none;
	padding: 0 @gap;
	
	&:hover {
		background-color: lighten(@color-bg, 3%);
		color: @color;
	}
}

.navbar-brand:extend(.navbar-link all) {
	font-weight: 700;
}

.navbar-nav {
	display: block;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
}

.navbar-nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

.navbar-nav a {
	&:extend(.navbar-link all) ;
}

.navbar-toggle {
	display: none;
	margin-right: @gap;
	padding: 0;
	min-width: 0;
	width: 2em;
	height: 2em;
	
	&:focus {
		outline: none;
	}
	
	&:first-line {
		font-size: 200%;
		line-height: 1;
	}
}

.navbar-form {
	&:extend(.navbar-col all);
	
	// font-size: 80%;
	// margin: @gap/2 0;
	padding: 0 @gap;
	
	@media (min-width: @window-sm) {
		button, input {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			width: auto;
		}
	}
}

@media (max-width: @window-sm) {
	.navbar{
		height: auto;
	}
	
	.navbar-header {
		display: block;
		height: @navbar-height;
	}
	
	.navbar-toggle {
		display: inline-block;
	}
	
	.navbar-collapse {
		display: none;
		clear: both;
		// border-bottom: 1px solid @border;
		
		&.show {
			display: block;
		}
		
		.navbar-nav,
		.navbar-nav li,
		.navbar-nav a,
		.navbar-form {
			display: block;
			float: none;
		}
		
		.navbar-nav,
		.navbar-form {
			border-top: 1px solid @border;
			background-color: @color-bg;
			padding: 0.25em 0;
			
			&:before {
				display: none;
			}
		}
		
		.navbar-nav li {
		}

		.navbar-nav a {
			padding: 0.375em @gap;
			&:hover {
				background-color: lighten(@color-bg, 3%);
			}
		}
		
		.navbar-form {
			padding: @gap;
			margin: 0;
			font-size: inherit;
		}
	}
}

.dropdown {
	display: none;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

.make-float-var(sm);
.make-float-var(md);
.make-float-var(lg);

.make-float-var(@size) {
	@wsize: ~"window-@{size}";
	@media (min-width: @@wsize) {
		.right-@{size} {
			float: right;
		}
		.left-@{size} {
			float: left;
		}
	}
}
