@import "core/vars.less";

@round-corner: 0.1875em;
@btn-min: 3em;

body {
	font-family: @font-family-base;
	color: @color;
}

h2 {
	border-bottom: 1px solid @border;
}

a {
	&:link {
		color: @link-color;
	}
	&:visited {
		color: darken(@link-color, 10%);
	}
	&:hover {
		color: lighten(@link-color, 10%);
	}
	&:active {
		color: darken(@link-color, 10%);
	}
}

table {
	border: 1px solid @border;
}

th {
	background-color: @color-bg;
}

th, td {
	border-left: 1px solid @border;
	
	&:first-child {
		border-left: none;
	}
}

thead {
	th, td {
		border-bottom: 1px solid @border;
	}
}

.table-responsive {
	table {
		border: none;
	}
	
	border: 1px solid @border;
	border-radius: @round-corner;
}

input,
textarea,
select {
	border: 1px solid @border;
	border-radius: @round-corner;
	padding: 0 0.5em;
	
	&:hover,
	&:focus,
	&:active {
		border-color: lighten(@border, 17%);
	}
}

.btn,
button {
	border: 1px solid @border;
	border-radius: @round-corner;
	padding: 0 0.5em;
	
	background-image: none;
	background-color: @color-bg;
	margin-right: 0.5em;
	
	form & {
		min-width: 4.25em;
	}
	
	&:focus {
		background-color: lighten(@color-bg, 3%);
		outline: 1px dotted;
		outline-offset: -2px;
	}
	
	&:hover {
		background-color: lighten(@color-bg, 3%);	
	}
	
	&:active {
		background-color: lighten(@color-bg, 3%);
		box-shadow: inset 0.12em 0.12em 1em darken(@color-bg, 7%); 
	}	
}

.radio, .checkbox {
	& label:hover {
		color: lighten(@color, 17%);
	}
}

.btn-group{
	border: 1px solid @border;
	border-radius: @round-corner;
	
	> * {
		border-width: 0 1px;
		border-radius: 0;
		margin-right: -1px;
		
		&:first-child {
			margin-left: -1px;
		}
	}
}

.paint-grid {
	.row {
		background-color: darken(@color-bg, 6%);
	}
	
	[class*="col-"] {
		background-color: darken(@color-bg, 12%);
	}
	
	.content {
		background-color: darken(@color-bg, 18%);
		overflow: hidden;
	}
}

::selection {
	background-color: fade(@highlight, 40%);
}

::-moz-selection {
	background-color: fade(@highlight, 40%);
}

// Components style
@navbar-color: lighten(@color, 12%);

.navbar {
	background-color: @color-bg;
	border-bottom: 1px solid @border;
	box-sizing: content-box;
	color: @navbar-color;
}

.navbar-nav a {
	&:hover {
		color: darken(@navbar-color, 40%);
	}
}

.navbar-nav li.active a {
	&:link {
		background-color: darken(@color-bg, 6%);
	}
}

.sidebar {
	&.expand {
		box-shadow: 0 0 1em black;
	}
	
	&.expand-add,
	&.expand-remove {
		transition: 0.4s all;
	}
	
	&.expand-add {
		transform: translateX(100%);
		
		&.expand-add-active {
			transform: none;
		}
	}
	
	&.expand-remove {
		right: 0;
		left: auto;
		transform: none;
		
		&.expand-remove-active {
			transform: translateX(100%);
		}
	}
}

.sidebar-toggle {
	background-color: @color;
	color: @color-bg;
	border-radius: 0.36em 0 0 0.36em;
	border: 1px solid @border;
	border-right: none;
	box-sizing: content-box;
	opacity: 0.5;
	box-shadow: 0 0 1em black;
	
	&:active {
		box-shadow: 0 0 1em black;
	}
	&:focus {
		background-color: @color;
		color: @color-bg;
		outline: none;
	}
	
	&:hover {
		background-color: @color;
		color: @color-bg;
		width: 2em;
		opacity: 1;
	}
}
