@import "../vars.less";
@import "../mixins.less";

// Dialog
.dialog {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.dialog-sm {
	max-width: 480px;
}

.dialog-md {
	max-width: 960px;
}

.dialog-lg {
	max-width: 1200px;
}

.dialog-header {
	padding-left: @gap;
	padding-right: @gap;
}

.dialog-body {
	padding-left: @gap;
	padding-right: @gap;
}
