// Form component. Include form controls.

@import "../vars.less";
@import "../mixins.less";
@import (reference) "table.less";

.form-group {
	.make-margin();
}

.form-control {
	display: block;
	width: 100%;
}

// Radio and checkbox
.radio, .checkbox {
	> * {
		display: inline-block;
		position: relative;
		padding-left: 1.5em;
		cursor: pointer;
		
		input[type="radio"],
		input[type="checkbox"] {
			color: inherit;
			position: absolute;
			width: auto;
			height: auto;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto 0;
		}
	}	
}

// Inline form
.form-inline {
	input, select, .radio, .checkbox, fieldset {
		display: inline-block;
		width: auto;
		margin: 0;
	}
}

// Input group
.input-group {
	.table();
}

// Buttons
.btn-block {
	display: block;
}

.btn-group {
	.table();
	
	display: inline-block;
}

::-webkit-input-placeholder {
  color: @font-color-light;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @font-color-light;
}
:-ms-input-placeholder {
  color: @font-color-light;
}
:-moz-placeholder { /* Firefox 18- */
  color: @font-color-light;
}
