// Nav
.nav {
	.make-list-unstyled();
	a {
		display: block;
		text-decoration: none;
	}
}

// Nav-sub
.nav-list {
	&:extend(.nav all);
}
.nav-tab {
	&:extend(.table-row all);
	&:extend(.nav all);
	> * {
		vertical-align: bottom;
		white-space: nowrap;
	}
}
.nav-tree {
	&:extend(.nav all);
}
.nav-pill {
	&:extend(.table-row all);
	&:extend(.nav all);
	> * {
		width: 1%;
		@media (max-width: (@window-sm - 1)) {
			width: auto;
			display: block;
		}
	}
}

