@import "../vars.less";
@import "../mixins.less";
@import (reference) "table.less";

// Nav
.nav {
	a {
		display: block;
		text-decoration: none;
	}
}

.nav-list {
	.nav();
}

.nav-tab {
	.nav();
	.table();

	> * {
		vertical-align: bottom;
		white-space: nowrap;
	}
}

.nav-responsive {
	overflow-x: auto;
}

.nav-tree {
	.nav();

	> * > a + .nav-tree {
//		margin-top: 0.25em;
	}
}

.nav-pill {
	.nav();
	.table();

	> * {
		width: 1%;
	}
}

@media (max-width: (@window-sm - 1)) {
	.nav-pill {
		> * {
			width: auto;
			display: block;
		}
	}
}
