// Nav
.nav {
	.make-list-unstyled();
	a {
		display: block;
		text-decoration: none;
	}
}

.nav-table {
	&:extend(.nav all);
	.make-table-row();
	display: table;
	width: 100%;
	> * {
		width: 1%;
	}
	&:after {
		content: " ";
		display: table-cell;
	}
	@{opera} & {
		display: table-row;
		&:after {
			width: 100%;
		}
	}
}

// Nav-sub
.nav-list {
	&:extend(.nav all);
	.make-border();
	overflow: hidden;
	> * {
		> a {
			.make-link-color(@font-color-light, @font-color-base);
			padding: 0.5em 1em;
			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}
		+ * {
			border-top: 1px solid @border-color-base;
		}
		&.active {
			> a {
				background-color: @bg-color-base;
			}
		}
		&.danger > * {
			background-color: @bg-color-danger;
			&:hover,
			&:focus {
				background-color: @bg-color-danger;
			}
		}
	}
	&[toggler] {
		> * {
			> a + * {
				display: none;
			}
			&.active {
				> a + * {
					display: block;
				}
			}
			&.active-add,
			&.active-remove {
				transition: all 0.4s linear;
			}
		}
	}
}
.nav-list-body {
	padding: 0 1em;
	border-top: 1px solid @border-color-base;
}
.nav-list-table {
	border-top: 1px solid @border-color-base;
}
.nav-tab {
	&:extend(.nav-table all);
	> * {
		vertical-align: bottom;
		white-space: nowrap;
		padding-right: 1em;
		border-bottom: 1px solid @border-color-base;
		> * {
			.make-border();
			.make-link-color(@font-color-light, @font-color-base);
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-color: @border-color-base;
			padding: 0.5em 1em;

			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}

		&.active > * {
			border-bottom-color: white;
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
	&:after {
		border-bottom: 1px solid @border-color-base;
	}
}
.nav-tree {
	&:extend(.nav all);
	transition: height 1s;
	overflow: hidden;

	.nav-tree {
		margin-left: 2em;
		font-size: 90%;
	}

	a {
		padding: 0.5em;
		border-left: 0 solid @brand-primary;
	}

	li:hover,
	li.active {
		> a {
			.make-link-color(@brand-primary, @brand-primary);
			border-left-width: 0.25em;
		}
	}
}
.nav-pill {
	&:extend(.nav-table all);
	> * {
		> * {
			.make-link-color(@font-color-light, @font-color-base);
			border-radius: @radius-base;
			overflow: hidden;
			padding: 0.5em 1em;
			text-align: center;

			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}

		&.active > * {
			background-color: @bg-color-base;
		}
	}
	@media (max-width: (@window-sm - 1)) {
		display: block;
		> * {
			display: block;
			width: auto;
		}
	}
}
.nav-responsive {
	.make-overflow();
}
.nav-justified {
	&:after {
		display: none;
	}
}
.nav-group {
	> * {
		&:before {
			content: "";
			display: block;
			border-top: 1px solid @border-color-light;
			margin: 0.5em;
		}
		&:first-child:before {
			display: none;
		}
	}
}
