// Navbar component
@import "../vars.less";
@import "table.less";

.navbar {
	> * {
		padding-left: 0;
		padding-right: 0;
		
		> * {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

@media (min-width: @window-sm) {
	.navbar-collapse {
		.table();
		display: table;
		width: 100%;
	}
}
@media (max-width: (@window-sm - 1)) {
	.navbar-collapse {
		display: none;

		&.active {
			display: block;

			> * {
				display: block;
			}
		}

	}
}

.navbar-brand {
	padding: 1em @gap;
}

.navbar-link {
	padding: 1em @gap;
}

.navbar-col {
	padding: 1em @gap;
}

.navbar-toggle {
	width: 2em;
	line-height: 0.8;
	overflow: hidden;
	
	&:first-line {
		font-size: 200%;
		font-weight: bold;
	}
}
