// Sidebar
.sidebar {
	@media (max-width: (@sidebar-breakpoint - 1)) {
		top: 0;
		left: 100%;
		position: fixed;
		width: 320px;
		height: 100%;

		&.active {
			left: auto;
			right: 0;
		}
	}
}
.sidebar-toggle {
	display: block;
	position: absolute;
	top: 17%;
	right: 100%;
	width: 1.7em;
	height: 2em;
	line-height: 2;
	text-align: center;
	z-index: 1090;
	@media (min-width: @sidebar-breakpoint) {
		display: none;
	}
}
.sidebar-content {
	position: relative;
	z-index: 1110;
	@media (max-width: (@sidebar-breakpoint - 1)) {
		height: 100%;
		background-color: white;
		padding: 0 @gap;
		overflow: auto;
	}
}

