@import "../vars.less";
@import "../mixins.less";
@import (reference) "../helpers.less";

// Normal table component
.table {
	th, td {
//		box-sizing: content-box;
	}
}
.table-default {
	&:extend(.table all);
}
.table-bordered {
	&:extend(.table all);
}
.shrink {
	width: 1%;
}
.stretch {
	width: 100%;
}

// Responsive wrapper
.table-responsive {
	.make-overflow();
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
	th, td {
		white-space: nowrap;
	}
}

// Table fixed
.table-fixed {
	.make-overflow();
	display: inline-block;
	max-width: 100%;
	position: relative;
	.table-fixed-head {
		z-index: 1;
		&.affix-top {
			display: none;
		}
		&.affix-fixed {
			position: fixed;
			top: 0;
		}
		&.affix-bottom {
			position: absolute;
		}
	}
	.table-fixed-table {
		position: relative;
	}
}
.table-fixed-cell {
	position: absolute;
}

.table-fixed tr:before {
	content: "";
	padding: 0;
	width: 0;
}

.table-block {
	display: block;
	width: 100%;
	> * {
		width: 100%;
	}
}

// Trick as <tr>
.table-row {
	.make-table-row();
}
