<div class="dialog" ng-class="'dialog-' + dialog.brand">
	<div class="dialog-header">
		{{dialog.title}}
	</div>
	<form class="dialog-body">
		<div class="marger pre-wrap" ng-if="!dialog.templateLoaded || !dialog.msg">
			{{dialog.msg}}
		</div>
		<div ng-include="dialog.templateUrl" ng-if="!!dialog.templateUrl"></div>
		<div class="marger">
			<div class="row row-inline row-center">
				<div class="col" ng-repeat="btn in dialog.btns">
					<button class="btn btn-default" ng-click="dialog.close(btn.value)" autofocus>{{btn.label}}</button>
				</div>
			</div>
		</div>
	</form>
</div>
