@import "vars.less";
@import "reset.less";

/**
	Grid system
*/

// Container
.container-fluid {
	padding: 0 @gap;
}

.container {
	padding: 0 @gap;
	margin: 0 auto;
	
	@media (min-width: @window-sm) {
		max-width: @window-sm;
	}
	@media (min-width: @window-md) {
		max-width: @window-md;
	}
	@media (min-width: @window-lg) {
		max-width: @window-lg;
	}
}

// row and columns
.row {
	margin-left: -@gap;
	margin-right: -@gap;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: -9999px;
	position: relative;
}

[class*="col-"] {
	padding-left: @gap;
	padding-right: @gap;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	// overflow: hidden;
}

[class*="push-"],
[class*="pull-"] {
	position: relative;
}

.row-top {
	align-items: flex-start;
	> * {
		vertical-align: top;
	}
}

.row-middle {
	align-items: center;
	> * {
		vertical-align: middle;
	}
}

.row-bottom {
	align-items: flex-end;
	> * {
		vertical-align: bottom;
	}
}


.col-top {
	align-self: flex-start;
	.row & {
		vertical-align: top;
	}
}
	
.col-middle {
	align-self: center;
	.row & {
		vertical-align: middle;
	}
}

.col-bottom {
	align-self: flex-end;
	.row & {
		vertical-align: bottom;
	}
}

.table-row {
	display: block;
	margin: 0 -@gap*2;
	
	> * {
		display: table;
		width: 100%;
		margin: 0;
		border-spacing: @gap*2 0;
		table-layout: fixed;
		
		> * {
			display: table-cell;
			padding: 0;
		}
	}
}

.clipper {
	overflow: hidden;
}

.row-nogap {
	margin-left: 0;
	margin-right: 0;
	
	> * {
		padding-left: 0;
		padding-right: 0;
	}
}

// Grid core
@import (inline) "core/grid.css";


/**
	Other components
*/
@import "components.less";

// Responsive Table
.table-responsive {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
	
	th, td {
		white-space: nowrap;
	}
}

// Form addition
.radio, .checkbox {
	label {
		display: inline-block;
		position: relative;
		padding-left: 1.5em;
		cursor: pointer;
	}
	
	input[type="radio"],
	input[type="checkbox"] {
		color: inherit;
		position: absolute;
		border: none;
		padding: 0;
		width: auto;
		height: auto;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
	}
}

// Inline form
.form-inline {
	input, select, .radio, .checkbox, fieldset {
		display: inline-block;
		width: auto;
		margin: 0;
	}
}

// Button addition
.btn-block {
	display: block;
	margin: 0.25em 0;
}

.btn-group {
	display: inline-block;
	overflow: hidden;
	
	> * {
		display: block;
		float: left;
		margin: 0;
	}
}

// Image addition
img {
	&[class*="right-"],
	&[class*="left-"] {
		display: block;
		margin: 0.5em auto;
	}
}

// Text
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-top {
	vertical-align: top;
}

.text-middle {
	vertical-align: middle;
}

.text-bottom {
	vertical-align: bottom;
}

@color-danger: #c53535;
@color-success: #3583c5;

.text-danger {
	color: @color-danger;
}

.text-success {
	color: @color-success;
}

// Display utility
.make-utility(xs);

@media (min-width: @window-sm) {
	.make-utility(sm);
}

@media (min-width: @window-md) {
	.make-utility(md);
}

@media (min-width: @window-md) {
	.make-utility(lg);
}

.make-utility(@size){
	.block-@{size} {
		display: block;
	}
	.inline-@{size} {
		display: inline;
	}
	.inline-block-@{size} {
		display: inline-block;
	}
	.none-@{size} {
		display: none;
	}
}

// Float utility
.make-float(xs);
@media (min-width: @window-sm) {
	.make-float(sm);
}
@media (min-width: @window-md) {
	.make-float(md);
}
@media (min-width: @window-lg) {
	.make-float(lg);
}

.make-float(@size) {
	.right-@{size} {
		float: right;
	}
	.left-@{size} {
		float: left;
	}
	
	// Add additional margin to float image
	img.left-@{size} {
		margin: 0.25em 1em 0.25em 0;
	}
	img.right-@{size} {
		margin: 0.25em 0 0.25em 1em;
	}
}

.clear {
	clear: both;
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Inline-block vertical-center
.vcenter {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	
	> * {
		vertical-align: middle;
	}
}

@import "theme.less";
