@import "vars.less";
@import "reset.less"

// Table addition
.table-responsive {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
	
	th, td {
		white-space: nowrap;
	}
}

// Form addition
.radio, .checkbox {
	label {
		display: inline-block;
		position: relative;
		padding-left: 1.5em;
		cursor: pointer;
	}
	
	input[type="radio"],
	input[type="checkbox"] {
		color: inherit;
		position: absolute;
		border: none;
		padding: 0;
		width: auto;
		height: auto;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto 0;
	}
}

.btn-block {
	display: block;
	margin: 0.25em 0;
}

.btn-group {
	display: inline-block;
	overflow: hidden;
	
	> * {
		display: block;
		float: left;
		margin: 0;
	}
}

.form-inline {
	input, select, .radio, .checkbox, fieldset {
		display: inline-block;
		width: auto;
		margin: 0;
	}
}

// Image addition
img {
	&[class*="right-"],
	&[class*="left-"] {
		display: block;
		margin: 0.5em auto;
	}
}

/**
	Grid system
*/

// Container
.container-fluid {
	padding: 0 @gap;
}

.container {
	padding: 0 @gap;
	margin: 0 auto;
	
	@media (min-width: @window-sm) {
		max-width: @window-sm;
	}
	@media (min-width: @window-md) {
		max-width: @window-md;
	}
	@media (min-width: @window-lg) {
		max-width: @window-lg;
	}
}

// row and columns
.row {
	margin-left: -@gap;
	margin-right: -@gap;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: -9999px;
	position: relative;
}

[class*="col-"] {
	padding-left: @gap;
	padding-right: @gap;
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	overflow: hidden;
}

[class*="push-"],
[class*="pull-"] {
	position: relative;
}

.row-top {
	align-items: flex-start;
	> * {
		vertical-align: top;
	}
}

.row-middle {
	align-items: center;
	> * {
		vertical-align: middle;
	}
}

.row-bottom {
	align-items: flex-end;
	> * {
		vertical-align: bottom;
	}
}


.col-top {
	align-self: flex-start;
	.row & {
		vertical-align: top;
	}
}
	
.col-middle {
	align-self: center;
	.row & {
		vertical-align: middle;
	}
}

.col-bottom {
	align-self: flex-end;
	.row & {
		vertical-align: bottom;
	}
}

.table-row {
	display: block;
	margin: 0 -@gap*2;
	
	> * {
		display: table;
		width: 100%;
		margin: 0;
		border-spacing: @gap*2 0;
		table-layout: fixed;
		
		> * {
			display: table-cell;
			padding: 0;
		}
	}
}

.clipper {
	overflow: hidden;
}

.row-nogap {
	margin-left: 0;
	margin-right: 0;
	
	> * {
		padding-left: 0;
		padding-right: 0;
	}
}

.table-nogap {
	margin: 0;
	> * {
		border-spacing: 0;
	}
}

// Grid core
@import (inline) "core/grid.css";


/**
	Other components
*/
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.vcenter {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	
	> * {
		vertical-align: middle;
	}
}

@navbar-height: 2.75em;

.navbar{
	height: @navbar-height;
	z-index: 1000;
	
	.container, .container-fluid {
		padding: 0;
		height: 100%;
	}
	
	.clearfix();
	
	@media (max-width: (@window-sm - 1)) {
		height: auto;
	}
}

.navbar-fixed {
	position: fixed;
	width: 100%;
}

.navbar-header {
	display: inline;
	
	@media (max-width: (@window-sm - 1)) {
		height: @navbar-height;
		display: block;
	}
}

.navbar-toggle {
	display: none;
	margin-right: @gap;
	padding: 0;
	width: 2em;
	height: 2em;
	
	&:focus {
		outline: none;
	}
	
	&:first-line {
		font-size: 200%;
		line-height: 1;
	}
	
	@media (max-width: (@window-sm - 1)) {
		display: inline-block;
	}
}

.navbar-col {
	.vcenter();
	
	display: block;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1020;
}

.navbar-link:extend(.navbar-col all) {
	padding: 0 @gap;
	text-decoration: none;
	
	&:link,
	&:visited,
	&:hover,
	&:hover {
		color: inherit;
	}
}

.navbar-brand {
	&:extend(.navbar-link all);
}

.navbar-nav {
	display: block;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
}

.navbar-nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

.navbar-nav a {
	&:extend(.navbar-link all);
}

.navbar-header .navbar-form {
	&:extend(.navbar-col all);
	padding: 0 @gap;
	.form-inline();
}

.navbar-collapse .navbar-form {
	@media (min-width: @window-sm) {
		padding: 0 @gap;
		.navbar-col();
		.form-inline();
	}
}

.navbar-collapse {
	display: inline;

	@media (max-width: (@window-sm - 1)) {
		display: block;
		clear: both;
		overflow: hidden;
		
		&.collapse {
			display: none;
		}
		.navbar-nav,
		.navbar-nav li,
		.navbar-nav a,
		.navbar-form {
			display: block;
			float: none;
		}
		
		.navbar-nav,
		.navbar-form {
			border-top: 1px solid @border;
			background-color: @color-bg;
			padding: 0.25em 0;
			height: auto;
			

			&:before {
				display: none;
			}
		}
		
		.navbar-nav li {
		}

		.navbar-nav a {
			padding: 0.375em @gap;
		}
		
		.navbar-form {
			padding: @gap;
			margin: 0;
			
			> input, select {
				display: block;
				width: 100%;
			}
		}
	}
}


// Sidebar
.sidebar {
	top: 0;
	left: 100%;
	z-index: 1100;
	padding: 0;
	&.expand-add,
	&.expand-remove {
		transition: 0.4s all;
	}
	
	&.expand-add {
		transform: translateX(100%);
		
		&.expand-add-active {
			transform: none;
		}
	}
	
	&.expand-remove {
		right: 0;
		left: auto;
		transform: none;
		
		&.expand-remove-active {
			transform: translateX(100%);
		}
	}
}

.sidebar-toggle {
	// WOW I HAVE TO OVERIDE SO MANY DEFAULT STYLE?!
	display: none;
	position: absolute;
	top: 17%;
	right: 100%;
	width: 1.7em;
	height: 2em;
	line-height: 2;
	text-align: center;
	z-index: 1090;
	padding: 0;
	margin: 0;
	
	&:before {
		content: "«";
	}
}

.sidebar-content {
	position: relative;
	z-index: 1110;
}

.make-sidebar(sm);
.make-sidebar(md);
.make-sidebar(lg);

.make-sidebar(@size) {
	@wsize: ~"window-@{size}";
	.sidebar-@{size} {
		@media (max-width: (@@wsize - 1)) {
			position: fixed;
			width: 320px;
			height: 100%;
			border-left: 1px solid @border;
			
			&.expand {
				right: 0;
				left: auto;
				
				.sidebar-toggle:before {
					content: "»";
				}
			}
			
			.sidebar-toggle {
				display: block;
			}
			
			.sidebar-content {
				height: 100%;
				background-color: white;
				padding: 0 @gap;
				overflow: auto;
			}
		}
		@media (min-width: @@wsize) {
			&.sidebar-top .sidebar-content {
				position: static;
			}
			
			&.sidebar-fixed .sidebar-content{
				position: fixed;
				top: 0;
				// max-height: 100%;
			}
			
			&.sidebar-bottom .sidebar-content{
				position: absolute;
				bottom: 0;
			}
			.sidebar-content {
				overflow: auto;
			}
			&.expand-add,
			&.expand-remove {
				transition: none;
			}
		}
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.make-float(xs);
@media (min-width: @window-sm) {
	.make-float(sm);
}
@media (min-width: @window-md) {
	.make-float(md);
}
@media (min-width: @window-lg) {
	.make-float(lg);
}

.make-float(@size) {
	.right-@{size} {
		float: right;
	}
	.left-@{size} {
		float: left;
	}
	
	// Add additional margin to float image
	img.left-@{size} {
		margin: 0.25em 1em 0.25em 0;
	}
	img.right-@{size} {
		margin: 0.25em 0 0.25em 1em;
	}
}

@blackboard-color-bg: @color;
@blackboard-color: @color-bg;

.blackboard {
	background-color: @blackboard-color-bg;
	color: @blackboard-color;
	padding: 1.5em 0;
}

.blackboard-head {
	margin: 0;
	line-height: 1;
	font-size: 200%;
	text-align: center;
}

.blackboard-body {
	color: darken(@blackboard-color, 12%);
}

.blackboard-side {
	font-size: 75%;
	color: darken(@blackboard-color, 12%);
}

@media (min-width: @window-sm) {
	.blackboard {
		margin: 0 0 1em;
		padding: 4.5em 0 4em;
		
		.row {
			.row-middle();
		}
	}

	.blackboard-head {
		font-size: 360%;
		text-align: left;
	}

	.blackboard-body {
		font-size: 150%;
		color: darken(@blackboard-color, 12%);
		font-weight: lighter;
	}

	.blackboard-side {
		padding: 1em;
		font-size: 80%;
	}
}

// Nav
.make-border() {
	border: 1px solid @border;
	border-radius: @round-corner;
	overflow: hidden;
}

.list-reset {
	padding: 0;
	list-style: none;
}

.nav-list {
	&:extend(.list-reset);
	
	.make-border();
	
	// Don't style on li to make animate easier
	> * {
		> * {
			display: block;
			padding: 0.5em 1em;
			text-decoration: none;
			
			&:hover {
				background-color: @color-bg;
				color: @color;
			}
		}
		
		+ * {
			border-top: 1px solid @border;
		}
	}
}

.nav-pool {
	&:extend(.list-reset);
	
	> * {
		display: inline-block;
		margin: 0 0.5em 0 0;
	}
}

.nav-tab {
	&:extend(.list-reset);
	
	display: table;
	margin: 0;
	border-bottom: 1px solid @border;
	width: 100%;
	
	> * {
		display: inline-block;
		background-color: white;
		vertical-align: bottom;
		margin: 0 1em -1px 0;
		
		.make-border();
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		
		&.active {
			border-bottom-color: white;
		
			&:hover {
				background-color: white;
			}
		}
		
		&:hover {
			background-color: @color-bg;
		}
		
		> * {
			display: block;
			padding: 0.5em 1em;
			text-decoration: none;
			&:hover {
				color: @color;
			}
		}
	}
}

.nav-responsive {
	overflow-y: hidden;
	
	> * {
		white-space: nowrap;
	}
}

.make-link-color(@color, @color-focus) {
	&:link,
	&:visited {
		color: @color;
	}
	&:hover {
		color: @color-focus;
	}
	&:active {
		color: @color;
	}
}

.nav-tree {
	&:extend(.list-reset);
	
	> * > a {
		margin: 0.25em 0;
		.make-link-color(@color, lighten(@color, 40%));
	}
	
	.nav-tree {
		display: none;
		margin: 0;
		padding: 0 0 0 2em;
		font-size: 90%;
		
		> * > * {
			margin: 0;
		}
	}
	
	> .active {
		> a {
			color: lighten(@color, 40%);
		}
		
		> .nav-tree {
			display: block;
		}
	}
}

// Progress
.progress {
	.make-border();
	cursor: default;
	font-size: 80%;
	margin: 0.25em 0;
}

.progress-bar {
	background-color: @color-bg;
	text-align: center;
}

.progress-label {
	padding: 0 0.5em;
}

// Animate
.collapsing {
	transition: 0.4s all ease;
}

// Responsive utility
.make-utility(xs);

@media (min-width: @window-sm) {
	.make-utility(sm);
}

@media (min-width: @window-md) {
	.make-utility(md);
}

@media (min-width: @window-md) {
	.make-utility(lg);
}

.make-utility(@size){
	.block-@{size} {
		display: block;
	}
	.inline-@{size} {
		display: inline;
	}
	.inline-block-@{size} {
		display: inline-block;
	}
	.none-@{size} {
		display: none;
	}
}

.clear {
	clear: both;
}

@import "theme.less";