@import "vars.less";
@import "mixins.less";

/**
	Grid system
*/

// Container
._container(){
	margin-left: auto;
	margin-right: auto;
}

.container {
	._container();
	padding: 0 @gap;

	@media (min-width: @window-sm) {
		max-width: @window-sm;
	}
	@media (min-width: @window-md) {
		max-width: @window-md;
	}
	@media (min-width: @window-lg) {
		max-width: @window-lg;
	}
}
.container-fluid {
	padding: 0 @gap;
}
.container-sm {
	._container();
	max-width: @window-sm;
}
.container-md {
	._container();
	max-width: @window-md;
}
.container-lg {
	._container();
	max-width: @window-lg;
}

// row
._row {
//    margin-top: -@gap;
	margin-left: -@gap;
	margin-right: -@gap;
//	min-height: @gap;

	> * {
		padding-left: @gap;
		padding-right: @gap;
//        margin-top: @gap;
	}
}

.row {
	._row();
	.make-flex();

	> * {
		width: 100%;

		> :first-child {
//			margin-top: 0;
		}
	}
}

.row-inline {
	margin-top: -@gap;
	margin-left: -@gap/2;
	margin-right: -@gap/2;
	align-items: baseline;
	min-height: @gap;

	> * {
		width: auto;
		padding-left: 0;
		padding-right: 0;
		margin-top: @gap;
		padding-left: @gap/2;
		padding-right: @gap/2;
		vertical-align: baseline;
	}
}


.row-justify {
	justify-content: space-between;
	text-align: ~"justify\9";
	margin-bottom: ~"-1em\9";

	> * {
		display: ~"inline-block\9";
		vertical-align: ~"top\9";
		text-align: ~"left\9";
	}

	&:after {
		content: "x";
		display: none;
		display: ~"inline-block\9";
		width: ~"100%\9";
		visibility: ~"hidden\9";
		vertical-align: ~"top\9";
	}
}

.row-left {
	justify-content: flex-start;
	text-align: ~"left\9";
}

.row-center {
	justify-content: center;
	text-align: ~"center\9";

	> * {
		text-align: ~"left\9";
	}
}

.row-right {
	justify-content: flex-end;
	text-align: ~"right\9";

	> * {
		text-align: ~"left\9";
	}
}

.row-gap {
	margin-top: -@gap;
	min-height: @gap;

	> * {
		padding-top: @gap;
	}
}

.row-nogap {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	min-height: 0;

	> * {
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.row-top {
	align-items: flex-start;

	> * {
		vertical-align: ~"top\9";
	}
}

.row-middle {
	align-items: center;

	> * {
		vertical-align: ~"middle\9";
	}
}

.row-bottom {
	align-items: flex-end;

	> * {
		vertical-align: ~"bottom\9";
	}
}

.col-top {
	align-self: flex-start;
	vertical-align: top;
}

.col-middle {
	align-self: center;
	vertical-align: middle;
}

.col-bottom {
	align-self: flex-end;
	vertical-align: bottom;
}

[class*="push-"],
[class*="pull-"] {
	position: relative;
}

// Grid core
@import (inline) "../build/gridCore.css";
