@media \0screen {
	input {
		padding-top: 0.4375em;
	}
	
	input[type="radio"],
	input[type="checkbox"] {
		padding-top: 0;
	}
	
	select {
		padding-bottom: 0.25em;
	}
	
	select[multiple] {
		padding-bottom: 0;
	}
}
