.make-margin(@gap: 1em){
	margin-top: @gap;
	margin-bottom: @gap;
}

.make-padding(@gap: 1em){
	padding-top: @gap;
	padding-bottom: @gap;
}

.make-border(){
	border: 1px solid @border-color-base;
	border-radius: @radius-base;
	overflow: hidden;
}

.make-shadow(@color){
	box-shadow: 0 0 0.5em 0 @color;
}

.make-link-color(@color, @color-focus) {
	&:link,
	&:visited {
		color: @color;
	}
	&:hover {
		color: @color-focus;
	}
	&:active {
		color: @color-focus;
	}
}

.make-flex(){
	display: flex;
	flex-wrap: wrap;
	letter-spacing: ~"-9999px\9";

	> * {
		display: ~"inline-block\9";
		letter-spacing: ~"normal\9";
		vertical-align: ~"top\9";
	}
}

.make-flex-middle(){
	align-items: center;

	&:before {
		content: "";
		display: ~"inline-block\9";
		height: ~"100%\9";
		vertical-align: ~"middle\9";
	}

	> * {
		vertical-align: ~"middle\9";
	}
}

.make-flex-center(){
	justify-content: space-between;
	text-align: ~"center\9";

	> * {
		text-align: ~"left\9";
	}
}
