@import "vars.less";
@import "mixins.less";

h2 {
	border-bottom: 1px solid @border-color-base;
	padding-bottom: 0.25em;
}

code {
	background-color: @bg-color-base;
	font-family: @font-family-monospace;
	font-size: 90%;
	padding: 0.25em;
}

pre {
	background-color: @bg-color-base;
	font-family: @font-family-monospace;
	padding: 0.25em;
	font-size: 90%;

	code {
		padding: 0;
		font-size: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
	small {
		font-size: 70%;
	}
}

hr {
	border: none;
	border-top: 1px solid @border-color-base;
	margin: @gap 0;
}

small {
	font-size: 90%;
}

a {
	transition: all 0.2s linear;
	.make-link-color(@font-color-light, @brand-primary);
}

// Forms
.radio, .checkbox {
	label {
		transition: 0.2s all linear;

		&:hover {
			color: @font-color-light;
		}
	}
}

.btn {
	.make-border();
	transition-property: border-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;

	&:hover {
		border-color: @border-color-light;
	}
	&:focus {
		color: @font-color-base;
		border-color: @brand-primary;
	}
	&:active {
		border-color: @brand-primary;
		box-shadow: inset 0.12em 0.12em 0.5em darken(@bg-color-base, 7%);
	}
	&[disabled] {
		background-color: @bg-color-base;
		border-color: @border-color-light;
		cursor: not-allowed;
		&:hover,
		&:active {
			border-color: @border-color-light;
		}
	}
}
.btn-default {
	.btn();
	padding-left: 0.5em;
	padding-right: 0.5em;
	min-width: 4.25em;
}
.btn-sm {
	.btn();
	width: 2em;
	line-height: 0.8;
}
.btn-close {
	width: 1em;
	height: 1em;
	vertical-align: baseline;
	color: @font-color-light;

	&:hover {
		color: inherit;
	}
}
.btn-group{
	border: 1px solid @border-color-base;
	border-radius: @radius-base;

	> * {
		border-width: 0 1px;
		border-radius: 0;
		margin-right: -1px;

		&:first-child {
			margin-left: -1px;
		}
	}
}

.form-control {
	.make-border();
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: @font-color-light;
	transition: 0.2s all linear;

	&:hover {
		border-color: @border-color-light;
	}
	&:focus {
		border-color: @border-color-active;
		color: @font-color-active;
	}
	&[disabled] {
		background-color: @bg-color-base;
		border-color: @border-color-light;
		cursor: not-allowed;
		&:hover,
		&:active {
			border-color: @border-color-light;
		}
	}
}

.input-group-addon {
	.make-border();
	> * {
		padding: 0 0.5em;
		background-color: @color-bg;
	}
}

.input-group {
	> * {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		+ * {
			border-left-width: 0;
			> * > * {
				border-left-color: transparent;
			}
		}
		> * {
			margin: 0 -1px;
		}
		> * > * {
			border-radius: 0;
			background-clip: padding-box;
		}
		&:first-child > * > * {
			border-top-left-radius: @radius-base;
			border-bottom-left-radius: @radius-base;
		}
		&:last-child > * > * {
			border-top-right-radius: @radius-base;
			border-bottom-right-radius: @radius-base;
		}
	}
}

// Angular form state
input,
textarea,
select {
	&.ng-invalid {
		&, &:hover, &:focus {
			border-color: @brand-danger;
		}
	}
}

// Placeholder
::-webkit-input-placeholder {
  	color: @bg-color-hard;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: @bg-color-hard;
}
:-ms-input-placeholder {
  	color: @bg-color-hard;
}
:-moz-placeholder { /* Firefox 18- */
	color: @bg-color-hard;
}

.paint-grid {
	.row {
		background-color: darken(@color-bg, 6%);
	}

	[class*="col-"] {
		background-color: darken(@color-bg, 12%);
	}

	.content {
		background-color: darken(@color-bg, 18%);
		overflow: hidden;
	}
}

// Selection
::selection {
	background-color: fade(@highlight, 40%);
}
::-moz-selection {
	background-color: fade(@highlight, 40%);
}

// Sidebar
@media (max-width: (@sidebar-breakpoint - 1)) {
	.sidebar {
		z-index: 1100;

		&.active-add {
			transition: 0.4s all;
			transform: translateX(100%);

			&-active {
				transform: none;
			}
		}
		&.active-remove {
			transition: 0.4s all;
			right: 0;
			left: auto;
			transform: none;

			&-active {
				transform: translateX(100%);
			}
		}
		&.active {
			border-left: 1px solid @border;
			box-shadow: 0 0 1em black;
		}
	}
}

.sidebar-toggle {
	background-color: @color;
	color: @color-bg;
	border-radius: 0.36em 0 0 0.36em;
	border: 1px solid @border;
	border-right: none;
	box-sizing: content-box;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	box-shadow: 0 0 1em black;
	transition: all 0.4s;

	&:active {
		box-shadow: 0 0 1em black;
	}
	&:focus {
		background-color: @color;
		color: @color-bg;
		outline: none;
	}

	&:hover {
		background-color: @color;
		color: @color-bg;
		width: 2em;
		opacity: 1;
	}

	&:before {
		content: "«";

		.sidebar.active & {
			content: "»";
		}
	}
}

.addword {
	display: inline-block;
	padding-left: @gap;
}

// Dialog
.dialog {
	.make-border();
	.make-margin();
	background-color: #fff;
}
.dialog-header {
//	background-color: @bg-color-base;
	font-weight: 700;
	font-size: 140%;
	border-bottom: 1px solid @border-color-base;
	padding-top: @gap;
	padding-bottom: @gap;
}

// Modal
.modal-backdrop {
	background-color: black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	&.ng-enter {
		transition: 0.4s all linear;
		opacity: 0;

		&-active {
			opacity: 0.5;
		}
	}

	&.ng-leave {
		transition: 0.2s all linear;
		opacity: 0.5;

		&-active {
			opacity: 0;
		}
	}
}

.modal {
	&.ng-enter {
		transition: all 0.4s;

		> * {
			opacity: 0;
			transform: translateY(-25%);
		}

		&.ng-enter-active > * {
			transition: all 0.4s;
			opacity: 1;
			transform: none;
		}
	}
	&.ng-leave {
		transition: all 0.2s;

		> * {
			opacity: 1;
			transform: none;
		}

		&.ng-leave-active > * {
			transition: all 0.2s;
			opacity: 0;
			transform: translateY(-25%);
		}
	}
}

// Table
.table-default {
	.make-border();
	border-collapse: separate;

	thead {
		th, td {
			background-color: @bg-color-base;
			text-align: center;
		}
	}

	tbody tr:first-child {
		th, td {
			border-top: 1px solid @border-color-base;
		}
	}

	th, td {
		padding: 0.5em 1.04em;
		border-left: 1px solid @border-color-base;
		vertical-align: middle;

		&:first-child {
			border-left: none;
		}

		&.table-cell-inner {
			border-left: 1px solid @border-color-base;
			border-top: 1px solid @border-color-base;
		}
	}

	.table-fixed-left {
		border-right: 1px solid @border-color-base;
		border-left-width: 0;

		+ * {
			border-left-width: 0;
		}
	}
}

.table-responsive {
	> * {
		border-width: 0;
		border-radius: 0;
	}

	border: 1px solid @border-color-base;
	border-radius: @radius-base;
}

.table-fixed {
	.make-border();
	> * {
		border-width: 0;
		border-radius: 0;
	}
}

// Navbar
.navbar {
	color: @font-color-light;
	border-bottom: 1px solid @border;
}

.navbar-brand {
	.make-link-color(inherit, @font-color-base);
	text-decoration: none;
	font-weight: bold;
}

.navbar-link {
	.make-link-color(inherit, @font-color-base);
	text-decoration: none;
	&:hover {
		background-color: @bg-color-base;
	}
	&.active {
		background-color: @bg-color-base;
	}
}

@media (max-width: (@window-sm - 1)) {
	.navbar-menu {
		border-top: 1px solid @border-color-base;
	}
	.navbar-form {
		border-top: 1px solid @border-color-base;
		border-bottom: 1px solid @border-color-base;
	}
}

// Blackboard
.blackboard {
	background-color: @bg-color-base;
	padding-top: @gap*2;
	padding-bottom: @gap*2;
}
.blackboard-head {
	margin-top: 0.4em;
}
.blackboard-side {
	font-size: 80%;
}
@media (min-width: @blackboard-breakpoint) {
	.blackboard-head {
		font-size: 320%;
	}
	.blackboard-body {
		font-size: 140%;
	}
}
@media (max-width: (@blackboard-breakpoint - 1)) {
	.blackboard-head {
		font-size: 210%;
		text-align: center;
	}
	.blackboard {
		padding: 0 0 @gap;
	}
	.blackboard-side {
		line-height: 1.3;
	}
}

// Navs
.nav-list {
	.make-border();

	> * {
		> * {
			.make-link-color(@font-color-light, @font-color-base);
			padding: 0.5em 1em;
			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}
		+ * {
			border-top: 1px solid @border-color-base;
		}
		&.active > * {
			background-color: @bg-color-base;
		}
	}
}

.nav-tab {
	border-bottom: 1px solid @border-color-base;

	> * {
		padding-right: 1em;

		> * {
			.make-border();
			.make-link-color(@font-color-light, @font-color-base);
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-color: @border-color-base;
			padding: 0.5em 1em;

			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}

		&.active > * {
			border-bottom-color: white;
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
	}
}

.nav-tree {
	transition: all 1s;
	overflow: hidden;

	.nav-tree {
		max-height: 0;
		margin-left: 2em;
		font-size: 90%;
	}

	> * {
		> a {
			padding: 0.25em 0.5em;
		}

		&.active, &:hover {
			> a {
				.make-link-color(@brand-primary, @brand-primary);
				border-left: 0.25em solid @brand-primary;
			}
			.nav-tree {
				max-height: 300px;
			}
		}
	}
}

.nav-pill {
	> * {
		> * {
			.make-link-color(@font-color-light, @font-color-base);
			border-radius: @radius-base;
			overflow: hidden;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			text-align: center;

			&:hover,
			&:focus {
				background-color: @bg-color-base;
			}
		}

		&.active > * {
			background-color: @bg-color-base;
		}
	}
}

// Progress
.progress-bar {
	background-color: @bg-color-base;
}

// Pool
.pool {
	.make-border();
	background-color: @bg-color-base;
	padding: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.pool-lg {
	.pool();
	padding: 1em;
}

// Affix
.affix-content {
	overflow: auto;
	.affix-top & {
//		position: static;
	}
	.affix-bottom & {
		position: absolute;
	}
	.affix-fixed & {
		position: fixed;
		top: 0;
	}
}

// Panes
.pane {
	&.active-remove {
		transition: 0.2s all linear;
		display: inline-block;

		&-active {
			opacity: 0;
		}
	}

	&.active-add {
		transition: 0.2s all linear;
		display: inline-block;
		opacity: 0;

		&-active {
			opacity: 1;
		}
	}
}

// Text color
.text-muted {
	color: @font-color-lighter;
}
.text-primary {
	color: @brand-primary
}
.text-info {
	color: @brand-info;
}
.text-success {
	color: @brand-success;
}
.text-warning {
	color: @brand-warning;
}
.text-danger {
	color: @brand-danger;
}

// BG
.bg-primary {
	background-color: screen(@brand-primary, #CCCCCC);
}
.bg-info {
	background-color: screen(@brand-info, #CCCCCC);
}
.bg-success {
	background-color: screen(@brand-success, #CCCCCC);
}
.bg-warning {
	background-color: screen(@brand-warning, #CCCCCC);
}
.bg-danger {
	background-color: screen(@brand-danger, #CCCCCC);
}

