@import "vars.less";
@import "mixins.less";

h2 {
	border-bottom: 1px solid @border-color-base;
}

code {
	background-color: @bg-color-base;
	font-family: @font-family-monospace;
	font-size: 90%;
	padding: 0.25em;
}

pre {
	background-color: @bg-color-base;
	font-family: @font-family-monospace;
	padding: 0.25em;
	font-size: 90%;
	
	code {
		padding: 0;
		font-size: 100%;
	}
}

small {
	font-size: 70%;
}

// Forms
.radio, .checkbox {
	& label:hover {
		color: lighten(@color, 17%);
	}
}

.btn {
	border: 1px solid @border-color-base;
	border-radius: @radius-base;
	padding: 0 0.5em;
	
	background-color: @bg-color-base;
	
	&:focus,
	&:hover {
		background-color: @bg-color-active;
	}
	
	&:active {
		box-shadow: inset 0.12em 0.12em 1em darken(@bg-color-base, 7%); 
	}	
}
.btn-default {
	min-width: 4.25em;
}
.btn-close {
	width: 1em;
	height: 1em;
	vertical-align: baseline;
	color: @font-color-light;
	
	&:hover {
		color: inherit;
	}
}
.btn-group{
	border: 1px solid @border-color-base;
	border-radius: @radius-base;
	
	> * {
		border-width: 0 1px;
		border-radius: 0;
		margin-right: -1px;
		
		&:first-child {
			margin-left: -1px;
		}
	}
}

.input-group {
	> * > * {
		border-left-width: 0;
		border-radius: 0;
	}
	
	> *:first-child > * {
		border-left-width: 1px;
		border-top-left-radius: @radius-base;
		border-bottom-left-radius: @radius-base;
	}
	
	> *:last-child > * {
		border-top-right-radius: @radius-base;
		border-bottom-right-radius: @radius-base;
	}
}

.input-group-addon {
	.make-border();
	
	vertical-align: middle;
	background-color: @color-bg;
	white-space: nowrap;
	width: 1%;
	padding: 0 0.5em;
	border-left-width: 0;
	border-radius: 0;
	
	&:first-child {
		border-left-width: 1px;
		border-top-left-radius: @radius-base;
		border-bottom-left-radius: @radius-base;
	}
	
	&:last-child {
		border-top-right-radius: @radius-base;
		border-bottom-right-radius: @radius-base;
	}
}

.paint-grid {
	.row {
		background-color: darken(@color-bg, 6%);
	}
	
	[class*="col-"] {
		background-color: darken(@color-bg, 12%);
	}
	
	.content {
		background-color: darken(@color-bg, 18%);
		overflow: hidden;
	}
}

::selection {
	background-color: fade(@highlight, 40%);
}

::-moz-selection {
	background-color: fade(@highlight, 40%);
}

// Components style
@navbar-color: lighten(@color, 12%);

.navbar {
	background-color: @color-bg;
	border-bottom: 1px solid @border;
	box-sizing: content-box;
	color: @navbar-color;
}

.navbar-nav a {
	&:hover {
		color: darken(@navbar-color, 40%);
	}
}

.navbar-nav li.active a {
	&:link {
		background-color: darken(@color-bg, 6%);
	}
}

// Sidebar
.sidebar {
	border-left: 1px solid @border;
	z-index: 1100;
	
	&.active-add {
		transition: 0.4s all;
		transform: translateX(100%);

		&-active {
			transform: none;
		}
	}
	&.active-remove {
		transition: 0.4s all;
		right: 0;
		left: auto;
		transform: none;

		&-active {
			transform: translateX(100%);
		}
	}	
	&.active {
		box-shadow: 0 0 1em black;
	}
}

.sidebar-toggle {
	background-color: @color;
	color: @color-bg;
	border-radius: 0.36em 0 0 0.36em;
	border: 1px solid @border;
	border-right: none;
	box-sizing: content-box;
	opacity: 0.5;
	box-shadow: 0 0 1em black;
	
	&:active {
		box-shadow: 0 0 1em black;
	}
	&:focus {
		background-color: @color;
		color: @color-bg;
		outline: none;
	}
	
	&:hover {
		background-color: @color;
		color: @color-bg;
		width: 2em;
		opacity: 1;
	}
	
	&:before {
		content: "«";
		
		.sidebar.expand & {
			content: "»";
		}
	}
}

// Animate
.collapsing {
	transition: 0.4s all ease;
}

.addword {
	display: inline-block;
	padding-left: @gap;
}

// Dialog
.dialog {
	.make-border();
	.make-margin();
	background-color: #fff;
}
.dialog-header {
	background-color: @bg-color-base;
	font-weight: 700;
	border-bottom: 1px solid @border-color-base;
}

// Modal 
.modal-backdrop {
	background-color: black;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	&.ng-hide-add {
		transition: 0.2s all linear;
		opacity: 0.5;
		
		&.ng-hide-add-active {
			opacity: 0;
		}
	}
	
	&.ng-hide-remove {
		transition: 0.2s all linear;
		opacity: 0;
		
		&.ng-hide-remove-active {
			opacity: 0.5;
		}
	}
}
