h2 {
	border-bottom: 1px solid @border;
}

code {
	background-color: @color-bg;
	font-family: @font-family-monospace;
	font-size: 90%;
	padding: 0.25em;
}

small {
	font-size: 70%;
}

.btn-default {
	min-width: 4.25em;
}

.radio, .checkbox {
	& label:hover {
		color: lighten(@color, 17%);
	}
}

.btn-group{
	border: 1px solid @border;
	border-radius: @round-corner;
	
	> * {
		border-width: 0 1px;
		border-radius: 0;
		margin-right: -1px;
		
		&:first-child {
			margin-left: -1px;
		}
	}
}

.paint-grid {
	.row {
		background-color: darken(@color-bg, 6%);
	}
	
	[class*="col-"] {
		background-color: darken(@color-bg, 12%);
	}
	
	.content {
		background-color: darken(@color-bg, 18%);
		overflow: hidden;
	}
}

::selection {
	background-color: fade(@highlight, 40%);
}

::-moz-selection {
	background-color: fade(@highlight, 40%);
}

// Components style
@navbar-color: lighten(@color, 12%);

.navbar {
	background-color: @color-bg;
	border-bottom: 1px solid @border;
	box-sizing: content-box;
	color: @navbar-color;
}

.navbar-nav a {
	&:hover {
		color: darken(@navbar-color, 40%);
	}
}

.navbar-nav li.active a {
	&:link {
		background-color: darken(@color-bg, 6%);
	}
}

.sidebar {
	&.expand {
		box-shadow: 0 0 1em black;
	}
	
}

.sidebar-toggle {
	background-color: @color;
	color: @color-bg;
	border-radius: 0.36em 0 0 0.36em;
	border: 1px solid @border;
	border-right: none;
	box-sizing: content-box;
	opacity: 0.5;
	box-shadow: 0 0 1em black;
	
	&:active {
		box-shadow: 0 0 1em black;
	}
	&:focus {
		background-color: @color;
		color: @color-bg;
		outline: none;
	}
	
	&:hover {
		background-color: @color;
		color: @color-bg;
		width: 2em;
		opacity: 1;
	}
	
	&:before {
		content: "«";
		
		.sidebar.expand & {
			content: "»";
		}
	}
}

// Animate
.collapsing {
	transition: 0.4s all ease;
}

.addword {
	display: inline-block;
	padding-left: @gap;
}


